{
  "swagger": "2.0",
  "info": {
    "version": "2.0"
  },
  "tags":[  
      {  
         "name":"Abstract_Retrieval",
         "description":"Abstract Retrieval API"
      },
      {  
         "name":"Affiliation_Retrieval",
         "description":"Affiliation Retrieval API"
      },
      {  
         "name":"Article_Entitlement_Retrieval",
         "description":"Article Entitlement Retrieval API"
      },
      {  
         "name":"Article_Retrieval",
         "description":"Article Retrieval API"
      },
      {  
         "name":"Author_Retrieval",
         "description":"Author Retrieval API"
      },
      {  
         "name":"Engineering_Village_Retrieval",
         "description":"Engineering Village Retrieval API"
      },
      {  
         "name":"Object_Retrieval",
         "description":"Object Retrieval API"
      }
      
      ],
  "host": "api.elsevier.com",
  "basePath": "/content",
  "schemes": [
    "https",
    "http"
  ], 
  "paths": {
  "/abstract/doi/{doi}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreaveldoi"
    },
    "/abstract/eid/{eid}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreaveleid"
    },
    "/abstract/group_id/{group_id}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreavelgroupid"
    },
    "/abstract/pii/{pii}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreavelpii"
    },
    "/abstract/pubmed_id/{pubmed_id}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreavelpubmedid"
    },
    "/abstract/pui/{pui}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreavelpui"
    },
    "/abstract/scopus_id/{scopus_id}": {
      "$ref": "./listings/Abstract_Retrieval#/abstractretreavelscopusid"
    },
    "/affiliation/affiliation_id/{affiliation_id}": {
      "$ref": "./listings/Affiliation_Retrieval#/affiliationid"
    },
    "/affiliation/eid/{eid}": {
      "$ref": "./listings/Affiliation_Retrieval#/affiliationeid"
    },
     "/article/entitlement/doi/{doi}": {
      "$ref": "./listings/Article_Entitlement_Retrieval#/entitlementdoi"
    },
    "/article/entitlement/eid/{eid}": {
      "$ref": "./listings/Article_Entitlement_Retrieval#/entitlementeid"
    },
    "/article/entitlement/pii/{pii}": {
      "$ref": "./listings/Article_Entitlement_Retrieval#/entitlementpii"
    },
    "/article/entitlement/pubmed_id/{pubmed_id}": {
      "$ref": "./listings/Article_Entitlement_Retrieval#/entitlementpubmedid"
    },
    "/article/entitlement/scopus_id/{scopus_id}": {
      "$ref": "./listings/Article_Entitlement_Retrieval#/entitlementscopusid"
    },
    "/article/doi/{doi}": {
      "$ref": "./listings/Article_Retrieval#/articledoi"
    },
    "/article/eid/{eid}": {
      "$ref": "./listings/Article_Retrieval#/articleeid"
    },
    "/article/pii/{pii}": {
      "$ref": "./listings/Article_Retrieval#/articlepii"
    },
    "/article/pubmed_id/{pubmed_id}": {
      "$ref": "./listings/Article_Retrieval#/articlepubmedid"
    },
    "/article/scopus_id/{scopus_id}": {
      "$ref": "./listings/Article_Retrieval#/scopusid"
    },
    "/author/eid/{eid}": {
      "$ref": "./listings/Author_Retrieval#/authorretrievaleid"
    },
    "/author/author_id/{author_id}": {
      "$ref": "./listings/Author_Retrieval#/authorretrievalid"
    },
    "/ev/records": {
      "$ref": "./listings/EngineeringVillage_Retrieval"
    },
    "/object/doi/{doi}": {
      "$ref": "./listings/Object_Retrieval#/objectdoi"
    }, 
    "/object/doi/{doi}/ref/{ref}": {
      "$ref": "./listings/Object_Retrieval#/objectdoiref"
    }, 
    "/object/doi/{doi}/ref/{ref}/high": {
      "$ref": "./listings/Object_Retrieval#/objectdoirefhigh"
    }, 
    "/object/doi/{doi}/ref/{ref}/standard": {
      "$ref": "./listings/Object_Retrieval#/objectdoirefstandard"
    }, 
    "/object/doi/{doi}/ref/{ref}/thumbnail": {
      "$ref": "./listings/Object_Retrieval#/objectdoirefthumbnail"
    }, 
    "/object/eid/{eid}": {
      "$ref": "./listings/Object_Retrieval#/objecteid"
    }, 
    "/object/pii/{pii}": {
      "$ref": "./listings/Object_Retrieval#/objectpii"
    }, 
    "/object/pii/{pii}/ref/{ref}": {
      "$ref": "./listings/Object_Retrieval#/objectpiiref"
    }, 
    "/object/pii/{pii}/ref/{ref}/high": {
      "$ref": "./listings/Object_Retrieval#/objectpiirefhigh"
    }, 
    "/object/pii/{pii}/ref/{ref}/standard": {
      "$ref": "./listings/Object_Retrieval#/objectpiirefstandard"
    }, 
    "/object/pii/{pii}/ref/{ref}/thumbnail": {
      "$ref": "./listings/Object_Retrieval#/objectpiirefthumbnail"
    }, 
    "/object/pubmed_id/{pubmed_id}": {
      "$ref": "./listings/Object_Retrieval#/objectpubmedid"
    }, 
    "/object/pubmed_id/{pubmed_id}/ref/{ref}": {
      "$ref": "./listings/Object_Retrieval#/objectpubmedidref"
    }, 
    "/object/pubmed_id/{pubmed_id}/ref/{ref}/high": {
      "$ref": "./listings/Object_Retrieval#/objectpubmedidrefhigh"
    }, 
    "/object/pubmed_id/{pubmed_id}/ref/{ref}/standard": {
      "$ref": "./listings/Object_Retrieval#/objectpubmedidrefstandard"
    }, 
    "/object/pubmed_id/{pubmed_id}/ref/{ref}/thumbnail": {
      "$ref": "./listings/Object_Retrieval#/objectpubmedidrefthumbnail"
    }, 
    "/object/scopus_id/{scopus_id}": {
      "$ref": "./listings/Object_Retrieval#/objectscopusid"
    }, 
    "/object/scopus_id/{scopus_id}/ref/{ref}": {
      "$ref": "./listings/Object_Retrieval#/objectscopusidref"
    }, 
    "/object/scopus_id/{scopus_id}/ref/{ref}/high": {
      "$ref": "./listings/Object_Retrieval#/objectscopusidrefhigh"
    }, 
    "/object/scopus_id/{scopus_id}/ref/{ref}/standard": {
      "$ref": "./listings/Object_Retrieval#/objectscopusidrefstandard"
    }, 
    "/object/scopus_id/{scopus_id}/ref/{ref}/thumbnail": {
      "$ref": "./listings/Object_Retrieval#/objectscopusidrefthumbnail"
    }
    
  },
  "definitions": {
        "PageContainer": {
            "properties": {
                "PAGE": {
                    "$ref": "#/definitions/PageContainerItems"
                }
            }

        },
        "Status": {

            "properties": {
                "statusCode": {
                    "type": "string"
                },
                "statusText": {
                    "type": "string"
                }
            }

        },
        "DocID": {

            "properties": {
                "DB": {
                    "$ref": "#/definitions/Database"
                },
                "DOC-ID": {
                    "type": "string"
                },
                "HITINDEX": {
                    "type": "integer",
                    "format": "int32"
                },
                "TAGDATE": {
                    "type": "string"
                }
            }

        },
        "ServiceError": {

            "properties": {
                "status": {
                    "$ref": "#/definitions/Status"
                }
            }

        },
        "PageContainerItems": {

            "properties": {
                "PAGE-RESULTS": {
                    "$ref": "#/definitions/PageResults"
                },
                "RESULTS-COUNT": {
                    "type": "integer",
                    "format": "int32"
                },
                "RESULTS-PER-PAGE": {
                    "type": "integer",
                    "format": "int32"
                }
            }

        },
        "PageResults": {

            "properties": {
                "PAGE-ENTRY": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/PageEntry"
                    }
                }
            }

        },
        "FT": {

            "properties": {
                "FTLINK": {
                    "type": "string"
                }
            }

        },
        "DocProperties": {

            "properties": {
                "any": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }

        },
        "Afs": {

            "properties": {
                "AF": {
                    "type": "array",
                    "description": "Authors affiliation list",
                    "items": {
                        "$ref": "#/definitions/Affiliation"
                    }
                }
            }

        },
        "CitationEiDoc": {

            "properties": {
                "AFS": {
                    "description": "Authors affiliation",
                    "$ref": "#/definitions/Afs"
                },
                "AUS": {
                    "description": "Authors",
                    "$ref": "#/definitions/Aus"
                },
                "DOC": {
                    "$ref": "#/definitions/DocID"
                },
                "DOCUMENTPROPERTIES": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "EDS": {
                    "description": "Editors",
                    "$ref": "#/definitions/Eds"
                },
                "EFS": {
                    "description": "Editors affiliation",
                    "$ref": "#/definitions/Efs"
                },
                "FT": {
                    "$ref": "#/definitions/FT"
                },
                "VIEW": {
                    "type": "string"
                },
                "docProperties": {
                    "$ref": "#/definitions/DocProperties"
                }
            }

        },
        "PageEntry": {

            "properties": {
                "EI-DOCUMENT": {
                    "$ref": "#/definitions/CitationEiDoc"
                }
            }

        },
        "Efs": {

            "properties": {
                "EF": {
                    "type": "array",
                    "description": "Editors affiliation list",
                    "items": {
                        "$ref": "#/definitions/Affiliation"
                    }
                }
            }

        },
        "Eds": {

            "properties": {
                "ED": {
                    "type": "array",
                    "description": "Editor list",
                    "items": {
                        "$ref": "#/definitions/ContributorInfo"
                    }
                }
            }

        },
        "ContributorInfo": {

            "properties": {
                "AFS": {
                    "description": "Affiliations",
                    "$ref": "#/definitions/ContributorAffiliation"
                },
                "CO": {
                    "type": "string",
                    "description": "Country"
                },
                "EMAIL": {
                    "type": "string"
                },
                "ID": {
                    "type": "string"
                },
                "NAME": {
                    "type": "string"
                }
            }

        },
        "Database": {

            "properties": {
                "DBNAME": {
                    "type": "string"
                },
                "ID": {
                    "type": "string"
                }
            }

        },
        "ServiceErrorWrap": {

            "properties": {
                "service-error": {
                    "$ref": "#/definitions/ServiceError"
                }
            }

        },
        "ContributorAffiliation": {

            "properties": {
                "AFID": {
                    "type": "array",
                    "description": "Affiliation ID list",
                    "items": {
                        "type": "string"
                    }
                }
            }

        },
        "Aus": {

            "properties": {
                "AU": {
                    "type": "array",
                    "description": "Author list",
                    "items": {
                        "$ref": "#/definitions/ContributorInfo"
                    }
                }
            }

        },
        "Affiliation": {

            "properties": {
                "ID": {
                    "type": "string"
                },
                "NAME": {
                    "type": "string"
                }
            }

        }    
    
  }
}


