openapi: 3.2.0
info:
  title: Elsevier SciVal SciVal Country Group Lookup API V1 API
  version: 3.0.1
servers:
- url: https://api.elsevier.com/analytics/scival
tags:
- name: SciVal Country Group Lookup API V1
paths:
  /countryGroup/metrics:
    get:
      parameters:
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        required: true
        schema:
          type: string
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - Collaboration
          - CitationCount
          - CitationsPerPublication
          - CitingPatentCount
          - CollaborationImpact
          - CitedPublications
          - FieldWeightedCitationImpact
          - HIndices
          - ScholarlyOutput
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
      - description: Country group ids to return metrics for
        in: query
        name: countryGroupIds
        required: true
        x-example: 2,3
        schema:
          type: string
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).
        in: query
        name: subjectAreaFilterURI
        schema:
          type: string
          default: ''
      - description: Whether to include self-cited documents (not applicable to all metrics)
        in: query
        name: includeSelfCitations
        schema:
          type: boolean
          default: true
      - description: Whether to return results broken down by year (not applicable to all metrics)
        in: query
        name: byYear
        schema:
          type: boolean
          default: true
      - description: Publication types to include (not applicable to all metrics)
        in: query
        name: includedDocs
        schema:
          type: string
          enum:
          - AllPublicationTypes
          - ArticlesOnly
          - ArticlesReviews
          - ArticlesReviewsConferencePapers
          - ArticlesReviewsConferencePapersBooksAndBookChapters
          - ArticlesConferencePapers
          - BooksAndBookChapters
          default: AllPublicationTypes
      - description: Desired journal impact type (not applicable to all metrics)
        in: query
        name: journalImpactType
        schema:
          type: string
          enum:
          - CiteScore
          - SNIP
          - SJR
          default: CiteScore
      - description: Whether to show results as field-weighted (not applicable to all metrics)
        in: query
        name: showAsFieldWeighted
        schema:
          type: boolean
          default: false
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: No entities specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Country Group Lookup API V1
      operationId: countryGroupMetricsV1
      summary: Get country group metrics by id(s)
  /countryGroup/search:
    get:
      parameters:
      - description: Search query string. Valid fields are name, category, country, countryId, and code. Valid operators are OR and AND.
        in: query
        name: query
        required: true
        x-example: name(europe)
        schema:
          type: string
      - description: The number of results to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of results to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryGroupSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryGroupSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountryGroupSearchResponse'
        '400':
          description: Query not specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Country Group Lookup API V1
      description: sorted alphabetically by name in ascending order
      operationId: countryGroupSearchV1
      summary: Find country groups by name, category, or child country
  /countryGroup/{id}:
    get:
      parameters:
      - description: Id of requested country group
        in: path
        name: id
        required: true
        x-example: 3
        schema:
          type: integer
          format: int64
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryGroupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryGroupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountryGroupResponse'
        '401':
          description: Request not authorized
        '404':
          description: Country group not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Country Group Lookup API V1
      operationId: getCountryGroup
      summary: Get an country group by id
components:
  schemas:
    MetricResults:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricBaseObject'
          type: array
      type: object
    MetricBaseObject:
      discriminator:
        propertyName: metricType
      properties:
        the discriminator field:
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - AuthorCount
          - AuthorshipBreakdown
          - CitationCount
          - CitationsPerPublication
          - CitedPublications
          - CitingPatentCount
          - Collaboration
          - CollaborationImpact
          - CorePapers
          - FieldWeightedCitationImpact
          - FieldWeightedViewsImpact
          - HIndices
          - InstitutionCount
          - JournalImpact
          - MostRecentlyPublishedPapers
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
          - PaperPercentile
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - ProminencePercentile
          - PublicationShare
          - PublicationShareGrowth
          - RelatedTopics
          - ScholarlyOutput
          - TopAuthors
          - TopCitedPublications
          - TopInstitutions
          - TopJournals
          - TopKeywords
          - TopTopics
          - ViewsCount
          - ViewsPerPublication
          type: string
        value:
          type: object
        valueByMonth:
          additionalProperties:
            type: object
          type: object
        valueByYear:
          additionalProperties:
            type: object
          type: object
        values:
          items:
            type: object
          type: array
      required:
      - the discriminator field
      type: object
    Country:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/EntityTag'
          type: array
        active:
          type: boolean
        additionalData:
          type: string
        base:
          type: string
        code:
          type: string
        color:
          type: string
        favorite:
          type: boolean
        id:
          format: int64
          type: integer
        iso2Code:
          type: string
        latitude:
          format: float
          type: number
        longitude:
          format: float
          type: number
        name:
          type: string
        region:
          type: string
        regionName:
          type: string
        secondary:
          type: string
        sortName:
          type: string
        uri:
          type: string
      type: object
    CountryGroupResult:
      allOf:
      - $ref: '#/components/schemas/CountryGroupSearchResult'
      - properties:
          countries:
            items:
              $ref: '#/components/schemas/CountryResult'
            type: array
        type: object
      type: object
    CountryGroupSearchResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/CountryGroupSearchResult'
          type: array
      type: object
    EntityTag:
      properties:
        disabled:
          type: boolean
        id:
          format: int64
          type: integer
        limitTo:
          type: boolean
        name:
          type: string
        occurrences:
          format: int32
          type: integer
        privateTag:
          type: boolean
        selected:
          type: boolean
        shared:
          type: boolean
        type:
          type: string
        uri:
          type: string
        uris:
          items:
            type: string
          type: array
        webUserId:
          format: int64
          type: integer
      type: object
    ResponseLink:
      properties:
        '@href':
          type: string
        '@ref':
          type: string
        '@type':
          type: string
      type: object
    MetricBase:
      properties:
        lastUpdated:
          type: string
        metricEndYear:
          format: int32
          type: integer
        metricStartYear:
          format: int32
          type: integer
        sourceName:
          type: string
      type: object
    CountryResult:
      properties:
        countryCode:
          type: string
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        regionCode:
          type: string
        regionName:
          type: string
        uri:
          type: string
      type: object
    CountryGroupResponse:
      properties:
        countryGroup:
          $ref: '#/components/schemas/CountryGroupResult'
        link:
          $ref: '#/components/schemas/ResponseLink'
      type: object
    MetricResponse:
      properties:
        dataSource:
          $ref: '#/components/schemas/MetricBase'
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/MetricResults'
          type: array
      type: object
    CountryGroupSearchResult:
      properties:
        categoryName:
          type: string
        countries:
          items:
            $ref: '#/components/schemas/Country'
          type: array
        countryCount:
          format: int32
          type: integer
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        uri:
          type: string
      type: object
x-components: {}
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/scival
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-scival-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
