openapi: 3.2.0
info:
  title: Elsevier Abstract Retrieval API
  version: '2.0'
  description: 'Operations tagged Abstract_Retrieval across 2 of this provider''s published API definitions: elsevier-retrieval-swagger.json, elsevier-scopus-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Abstract_Retrieval
  description: Abstract Retrieval API
paths:
  /abstract/doi/{doi}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval via DOI exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /abstract/eid/{eid}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval via EID exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrievalEID
      parameters:
      - description: eid value
        in: path
        name: eid
        required: true
        schema:
          type: string
          default: 2-s2.0-0037070197
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/stream'
            text/xml:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /abstract/pii/{pii}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval via PII exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0014579301033130
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /abstract/pubmed_id/{pubmed_id}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval via Medline/Pubmed ID exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '11852050'
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /abstract/pui/{pui}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval vi PUI exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrieval
      parameters:
      - description: pui value
        in: path
        name: pui
        required: true
        schema:
          type: string
          default: '34164449'
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /abstract/scopus_id/{scopus_id}:
    get:
      tags:
      - Abstract_Retrieval
      description: 'Abstract retrieval via Scopus ID exposes interfaces associated with Scopus Abstract API.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: 0037070197
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Abstract Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-retrieval-swagger.json
- elsevier-scopus-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
