openapi: 3.2.0
info:
  title: Elsevier Nonserial Title API
  version: '2.0'
  description: 'Operations tagged Nonserial_Title across 2 of this provider''s published API definitions: elsevier-metadata-swagger.json, elsevier-sciencedirect-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Nonserial_Title
  description: Nonserial Title API
paths:
  /nonserial/title:
    get:
      tags:
      - Nonserial_Title
      description: 'Nonserial Metadata API represents a search against the nonserial titles (Science Direct content).

        API key in this example was setup with authorized CORS domains.'
      operationId: NonserialTitleSearch
      parameters:
      - description: 'Partial or complete nonserial title. Example: game'
        in: query
        name: title
        required: false
        schema:
          type: string
      - description: 'One or more source identifier. Example: 978-1-898563-14-3,978-0-12-370182-4'
        in: query
        name: isbn
        required: false
        schema:
          type: string
          default: 978-1-898563-14-3
      - description: 'ScienceDirect subject area abbreviation associated with the content category. Example: mathsgen'
        in: query
        name: subj
        required: false
        schema:
          type: string
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/stream'
            text/xml:
              schema:
                $ref: '#/components/schemas/stream'
            image/gif:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Nonserial Title Search
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /nonserial/title/isbn/{isbn}:
    get:
      tags:
      - Nonserial_Title
      description: 'Single nonserial title (Science Direct content) identified by ISBN. Returns either the metadata for that title or the cover image.

        API key in this example was setup with authorized CORS domains.'
      operationId: NonserialTitleMetadata
      parameters:
      - description: 'ISBN source identifier. Example: 978-1-898563-14-3'
        in: path
        name: isbn
        required: true
        schema:
          type: string
          default: 978-1-898563-14-3
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value. To retrieve cover image use image/gif
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/stream'
            text/xml:
              schema:
                $ref: '#/components/schemas/stream'
            image/gif:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Nonserial Title Metadata
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-metadata-swagger.json
- elsevier-sciencedirect-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
