openapi: 3.2.0
info:
  title: Elsevier Engineering Village Search API
  version: '2.0'
  description: 'Operations tagged Engineering_Village_Search across 2 of this provider''s published API definitions: elsevier-engineering-village-swagger.json, elsevier-search-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Engineering_Village_Search
  description: Engineering Village Search API
paths:
  /ev/results:
    get:
      tags:
      - Engineering_Village_Search
      summary: Engineering Village Search API
      description: This represents an Expert Search against Engineering Village databases. Expert Search provides search power and flexibility by incorporating advanced Boolean logic and including a rich variety of options.
      operationId: expertSearchUsingGET
      parameters:
      - name: apiKey
        in: query
        description: Required if no X-ELS-APIKey HTTP header, this represents a unique application developer key providing access to resource.
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - name: query
        in: query
        description: Expert search phrase. See help topics <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Expert_search_overview.htm'>here</a> for searching specific <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Expert_Search_Fields_and_Fields_Codes.htm'>fields</a>, and for using <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Proximity_Near_Operator_.htm'>proximity/near operators</a>, <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Boolean_Operators.htm'>Boolean operators</a>, <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Exact_Phrase_Searching.htm'>exact phrases</a>, <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Special_Characters.htm'>special characters</a>, <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Wildcards_and_Truncation.htm'>wildcards and truncation</a>, and <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Stop_Words.htm'>stop words</a>
        required: true
        schema:
          type: string
      - name: database
        in: query
        description: <br/>List of databases to query. When no databases are specified, all databases to which application account is entitles are searched. Database codes include:<br/><br/>c - Compendex/EI Backfile<br/>i - Inspec/Inspec Archive<br/>n - NTIS<br/>pc - Paperchem<br/>cm - Chimica<br/>cb - CBNB<br/>el - EnCompassLIT<br/>ep - EnCompassPAT<br/>g - GEOBASE<br/>f - GeoRef<br/>u - US Patents<br/>e - EP Patents
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - c
          - i
          - n
          - pc
          - cm
          - cb
          - el
          - ep
          - g
          - f
          - u
          - e
          - w
      - name: navigator
        in: query
        description: Navigator, a setting which determines if navigators should be returned if a is performed on search words, defaults to false if not set
        required: false
        schema:
          type: boolean
      - name: navigatorDataCount
        in: query
        description: Navigator data count, a setting which determines how many records for the navigator should be returned, minimum is 1 maximum is 160, default is 10
        required: false
        schema:
          type: integer
          format: int32
      - name: autoStemming
        in: query
        description: <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Autostemming.htm'>Autostemming</a> a setting which determines if stemming is performed on search words, defaults to false if not set
        required: false
        schema:
          type: boolean
      - name: startYear
        in: query
        description: Start year, leave blank if providing updateNumber
        required: false
        schema:
          type: integer
          format: int32
      - name: endYear
        in: query
        description: End year, leave blank if providing updateNumber
        required: false
        schema:
          type: integer
          format: int32
      - name: updateNumber
        in: query
        description: Update week number, find records updated within the last N weeks; 1 &lt;= N &lt;=4, leave blank when setting startYear or endYear. See <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Date_Limits.htm'>here</a> for more information.
        required: false
        schema:
          type: integer
          format: int32
      - name: sortField
        in: query
        description: Sort Field, which can vary by database. Default setting is relevance if parameter is not provided. See <a href='http://help.engineeringvillage.com/Engineering_Village_Help_CSH.htm#Sort_by.htm'>here</a> for more information.<br/><br/>relevance - Relevance<br/>yr - Date (year)<br/>ausort - Author<br/>stsort - Source<br/>pnsort - Publisher<br/>pcb - Patent cited by
        required: false
        schema:
          type: string
          enum:
          - relevance
          - yr
          - ausort
          - stsource
          - pnsort
          - pcb
          default: relevance
      - name: sortDirection
        in: query
        description: Sort direction. Default setting is "dw" if parameter is not provided
        required: false
        schema:
          type: string
          enum:
          - dw
          - up
      - name: offset
        in: query
        description: Page offset, used for pagination. To get page N, set offset = (N-1) * Page size. Defaults to 0 if not set.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Requested page size, defaults to 25 if not set. Used for pagination with offset parameter. Actual page size will be set to the results count if the results count is less than the requested page size
        required: false
        schema:
          type: integer
          format: int32
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Override for HTTP header Authorization, this contains the OAuth bearer access token, where the format of the field is "&lt;token&gt;" (where the token represents the end-user session key). The presence of a bearer token implies the request will be executed against user-based entitlements.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Engineering Village Search Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContainer'
            application/xml:
              schema:
                $ref: '#/components/schemas/PageContainer'
        '400':
          description: 'Invalid Request: This is an error that occurs when invalid information is submitted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
        '401':
          description: 'Authentication Error: This is an error that occurs when a user cannot be authenticated due to missing/invalid credentials (authtoken or APIKey).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
        '500':
          description: 'Generic Error: This is a general purpose error condition, typically due to back-end processing errors.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
        '403':
          description: 'Authorization/Entitlements Error: This is an error that occurs when a user cannot be authenticated or entitlements cannot be validated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
        '429':
          description: 'Quota Exceeded: This is an error that occurs when a requester has exceeded the quota limits associated with their API Key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceErrorWrap'
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
components:
  schemas:
    PageContainerItems:
      properties:
        PAGE-RESULTS:
          $ref: '#/components/schemas/PageResults'
        RESULTS-COUNT:
          type: integer
          format: int32
        RESULTS-PER-PAGE:
          type: integer
          format: int32
    DocID:
      properties:
        DB:
          $ref: '#/components/schemas/Database'
        DOC-ID:
          type: string
        HITINDEX:
          type: integer
          format: int32
        TAGDATE:
          type: string
    PageContainer:
      properties:
        PAGE:
          $ref: '#/components/schemas/PageContainerItems'
    ContributorAffiliation:
      properties:
        AFID:
          type: array
          description: Affiliation ID list
          items:
            type: string
    PageEntry:
      properties:
        EI-DOCUMENT:
          $ref: '#/components/schemas/CitationEiDoc'
    Afs:
      properties:
        AF:
          type: array
          description: Authors affiliation list
          items:
            $ref: '#/components/schemas/Affiliation'
    Eds:
      properties:
        ED:
          type: array
          description: Editor list
          items:
            $ref: '#/components/schemas/ContributorInfo'
    PageResults:
      properties:
        PAGE-ENTRY:
          type: array
          items:
            $ref: '#/components/schemas/PageEntry'
    CitationEiDoc:
      properties:
        AFS:
          description: Authors affiliation
          $ref: '#/components/schemas/Afs'
        AUS:
          description: Authors
          $ref: '#/components/schemas/Aus'
        DOC:
          $ref: '#/components/schemas/DocID'
        DOCUMENTPROPERTIES:
          type: object
          additionalProperties:
            type: string
        EDS:
          description: Editors
          $ref: '#/components/schemas/Eds'
        EFS:
          description: Editors affiliation
          $ref: '#/components/schemas/Efs'
        FT:
          $ref: '#/components/schemas/FT'
        VIEW:
          type: string
        docProperties:
          $ref: '#/components/schemas/DocProperties'
    ContributorInfo:
      properties:
        AFS:
          description: Affiliations
          $ref: '#/components/schemas/ContributorAffiliation'
        CO:
          type: string
          description: Country
        EMAIL:
          type: string
        ID:
          type: string
        NAME:
          type: string
    Status:
      properties:
        statusCode:
          type: string
        statusText:
          type: string
    ServiceError:
      properties:
        status:
          $ref: '#/components/schemas/Status'
    DocProperties:
      properties:
        any:
          type: object
          additionalProperties:
            type: string
    FT:
      properties:
        FTLINK:
          type: string
    Database:
      properties:
        DBNAME:
          type: string
        ID:
          type: string
    ServiceErrorWrap:
      properties:
        service-error:
          $ref: '#/components/schemas/ServiceError'
    Efs:
      properties:
        EF:
          type: array
          description: Editors affiliation list
          items:
            $ref: '#/components/schemas/Affiliation'
    Affiliation:
      properties:
        ID:
          type: string
        NAME:
          type: string
    Aus:
      properties:
        AU:
          type: array
          description: Author list
          items:
            $ref: '#/components/schemas/ContributorInfo'
x-refined-from:
- elsevier-engineering-village-swagger.json
- elsevier-search-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
