openapi: 3.2.0
info:
  title: Elsevier Object Retrieval API
  version: '2.0'
  description: 'Operations tagged Object_Retrieval across 2 of this provider''s published API definitions: elsevier-retrieval-swagger.json, elsevier-sciencedirect-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Object_Retrieval
  description: Object Retrieval API
paths:
  /object/doi/{doi}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve object references associated with a full text article by DOI.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: application/json
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/doi/{doi}/ref/{ref}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve individual object or object metadata associated with a full text article by DOI.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - description: Request metadata about object by entering META in view field and removing httpAccept value.
        in: query
        name: view
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/doi/{doi}/ref/{ref}/high:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve high-resolution image associated with a full text article by DOI.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/j.yjmcc.2014.08.010
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/doi/{doi}/ref/{ref}/standard:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve regular-sized image associated with a full text article by DOI.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/doi/{doi}/ref/{ref}/thumbnail:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve thumbnail image associated with a full text article by DOI.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/eid/{eid}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve object references associated with a full text article by EID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: eid value
        in: path
        name: eid
        required: true
        schema:
          type: string
          default: 1-s2.0-S0014579301033130
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: application/json
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pii/{pii}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve object references associated with a full text article by PII.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0014579301033130
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: application/json
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pii/{pii}/ref/{ref}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve individual object or object metadata associated with a full text article by PII.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0014579301033130
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - description: Request metadata about object by entering META in view field and removing httpAccept value.
        in: query
        name: view
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pii/{pii}/ref/{ref}/high:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve high-resolution image associated with a full text article by PII.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0022282814002570
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pii/{pii}/ref/{ref}/standard:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve regular-sized image associated with a full text article by PII.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0014579301033130
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pii/{pii}/ref/{ref}/thumbnail:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve thumbnail image associated with a full text article by PII.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0014579301033130
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pubmed_id/{pubmed_id}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve object references associated with a full text article by Medline/Pubmed ID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '11852050'
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: application/json
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pubmed_id/{pubmed_id}/ref/{ref}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve individual object or object metadata associated with a full text article by Medline/Pubmed ID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '11852050'
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - description: Request metadata about object by entering META in view field and removing httpAccept value.
        in: query
        name: view
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pubmed_id/{pubmed_id}/ref/{ref}/high:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve high-resolution image associated with a full text article by Medline/Pubmed ID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pubmed_id/{pubmed_id}/ref/{ref}/standard:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve regular-sized image associated with a full text article by Medline/Pubmed ID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '11852050'
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/pubmed_id/{pubmed_id}/ref/{ref}/thumbnail:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve thumbnail image associated with a full text article by Medline/Pubmed ID.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '11852050'
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/scopus_id/{scopus_id}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve object references associated with a full text article by scopus_id.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: 0037070197
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: application/json
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/scopus_id/{scopus_id}/ref/{ref}:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve individual object or object metadata associated with a full text article by scopus_id.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: 0037070197
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - description: Request metadata about object by entering META in view field and removing httpAccept value.
        in: query
        name: view
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/scopus_id/{scopus_id}/ref/{ref}/high:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve high-resolution image associated with a full text article by scopus_id.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: '84907560456'
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/scopus_id/{scopus_id}/ref/{ref}/standard:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve regular-sized image associated with a full text article by scopus_id.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: 0037070197
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: */*'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: '*/*'
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /object/scopus_id/{scopus_id}/ref/{ref}/thumbnail:
    get:
      tags:
      - Object_Retrieval
      description: 'Object retrieval API to retrieve thumbnail image associated with a full text article by scopus_id.

        API key in this example was setup with authorized CORS domains.'
      operationId: ObjectRetrieval
      parameters:
      - description: scopus_id value
        in: path
        name: scopus_id
        required: true
        schema:
          type: string
          default: 0037070197
      - description: Specific Object Reference
        in: path
        name: ref
        required: true
        schema:
          type: string
          default: gr1
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: 'To retrieve object enter mime type here. Example: image/gif'
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: image/gif
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                items: {}
                type: array
            text/xml:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Object Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-retrieval-swagger.json
- elsevier-sciencedirect-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
