{
 "swagger": "2.0",
 "info": {
  "version": "2.0",
  "title": "Elsevier Metadata APIs"
 },
 "tags": [
  {
   "name": "Abstract_Citation_Count",
   "description": "Abstract Citation count API"
  },
  {
   "name": "Citations_Overview",
   "description": "Citations Overview API"
  },
  {
   "name": "Nonserial_Title",
   "description": "Nonserial Title API"
  },
  {
   "name": "Serial_Title",
   "description": "Serial Title API"
  }
 ],
 "host": "api.elsevier.com",
 "basePath": "/content",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/abstract/citation-count": {
   "get": {
    "tags": [
     "Abstract_Citation_Count"
    ],
    "description": "<strong>Abstract Citation Count API retrieves Cited by in Scopus image given one of the article identifiers (DOI, PII, pubmed_ID) passed in as query parameter. Optionally, an arbitrary combination of applicable ISSN, ISBN, volume, issue, title, page parameters can be provided to identify the article.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractCitationCount",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "DOI document identifier. Example: 10.1016/S0014-5793(01)03313-0",
      "in": "query",
      "name": "doi",
      "required": false,
      "type": "string"
     },
     {
      "description": "PII document identifier. Example: S0014579301033130",
      "in": "query",
      "name": "pii",
      "required": false,
      "type": "string"
     },
     {
      "description": "MEDLINE/pubmed_id document identifier. Example: 11852050",
      "in": "query",
      "name": "pubmed_id",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "image/jpeg"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Cited by in Scopus image"
   }
  },
  "/abstract/citations": {
   "get": {
    "tags": [
     "Citations_Overview"
    ],
    "description": "<strong>Abstract Citation API allows to retrieve citations given one of the document identifiers (DOI, PII, scopus_id or pubmed_id).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "CitationsOverview",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "DOI document identifier. Example: 10.1016/S0014-5793(01)03313-0",
      "in": "query",
      "name": "doi",
      "required": false,
      "type": "string"
     },
     {
      "description": "PII document identifier. Example: S0014579301033130",
      "in": "query",
      "name": "pii",
      "required": false,
      "type": "string"
     },
     {
      "description": "Scopus ID document identifier. Example: 0037070197",
      "in": "query",
      "name": "scopus_id",
      "required": false,
      "type": "string"
     },
     {
      "description": "MEDLINE/pubmed_id document identifier. Example: 11852050",
      "in": "query",
      "name": "pubmed_id",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Citations Overview"
   }
  },
  "/nonserial/title": {
   "get": {
    "tags": [
     "Nonserial_Title"
    ],
    "description": "<strong>Nonserial Metadata API represents a search against the nonserial titles (Science Direct content).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "NonserialTitleSearch",
    "parameters": [
     {
      "description": "Partial or complete nonserial title. Example: game",
      "in": "query",
      "name": "title",
      "required": false,
      "type": "string"
     },
     {
      "default": "978-1-898563-14-3",
      "description": "One or more source identifier. Example: 978-1-898563-14-3,978-0-12-370182-4",
      "in": "query",
      "name": "isbn",
      "required": false,
      "type": "string"
     },
     {
      "description": "ScienceDirect subject area abbreviation associated with the content category. Example: mathsgen",
      "in": "query",
      "name": "subj",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Nonserial Title Search"
   }
  },
  "/nonserial/title/isbn/{isbn}": {
   "get": {
    "tags": [
     "Nonserial_Title"
    ],
    "description": "<strong>Single nonserial title (Science Direct content) identified by ISBN. Returns either the metadata for that title or the cover image.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "NonserialTitleMetadata",
    "parameters": [
     {
      "default": "978-1-898563-14-3",
      "description": "ISBN source identifier. Example: 978-1-898563-14-3",
      "in": "path",
      "name": "isbn",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value. To retrieve cover image use image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Nonserial Title Metadata"
   }
  },
  "/serial/title": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Serial Metadata API represents a search against the serial titles (Science Direct content).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleSearch",
    "parameters": [
     {
      "description": "Partial or complete serial title. Example: gene",
      "in": "query",
      "name": "title",
      "required": false,
      "type": "string"
     },
     {
      "default": "03781119",
      "description": "One or more source identifiers. Example: 03781119,07350651",
      "in": "query",
      "name": "issn",
      "required": false,
      "type": "string"
     },
     {
      "description": "ScienceDirect subject area abbreviation associated with the content category. Example: MATH",
      "in": "query",
      "name": "subj",
      "required": false,
      "type": "string"
     },
     {
      "description": "one or more subject area code associated with the content category. Example: 2600,2601",
      "in": "query",
      "name": "subjCode",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies the amount of data to be returned in the response. Example: citescore",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies a year or range of years for which to return yearly metric data. Example: 2014-2016",
      "in": "query",
      "name": "date",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Search"
   }
  },
  "/serial/title/issn/{issn}": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Single serial title (Science Direct content) identified by ISSN. Returns either the metadata for that title or the cover image.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleMetadata",
    "parameters": [
     {
      "default": "03781119",
      "description": "ISSN source identifier. Example: 03781119",
      "in": "path",
      "name": "issn",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value. To retrieve cover image use image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Metadata"
   }
  }
 },
 "definitions": {},
 "x-apievangelist-provenance": {
  "method": "searched",
  "source": "https://dev.elsevier.com/elsdoc/metadata",
  "note": "Verbatim copy is openapi/_original/elsdoc/elsevier-metadata-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier's external path $refs (./listings/<Name>#/<op>) were inlined from the provider's own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.",
  "retrieved": "2026-09-06"
 }
}