{
 "swagger": "2.0",
 "info": {
  "version": "2.0",
  "title": "Elsevier Scopus APIs"
 },
 "tags": [
  {
   "name": "Scopus_Search",
   "description": "Scopus Search API"
  },
  {
   "name": "Affiliation_Search",
   "description": "Affiliation Search API"
  },
  {
   "name": "Author_Search",
   "description": "Author Search API"
  },
  {
   "name": "Abstract_Retrieval",
   "description": "Abstract Retrieval API"
  },
  {
   "name": "Affiliation_Retrieval",
   "description": "Affiliation Retrieval API"
  },
  {
   "name": "Author_Retrieval",
   "description": "Author Retrieval API"
  },
  {
   "name": "Abstract_Citation_Count",
   "description": "Abstract Citation count API"
  },
  {
   "name": "Citations_Overview",
   "description": "Citations Overview API"
  },
  {
   "name": "Serial_Title",
   "description": "Serial Title API"
  }
 ],
 "host": "api.elsevier.com",
 "basePath": "/content",
 "schemes": [
  "https",
  "http"
 ],
 "consumes": [
  "application/json"
 ],
 "produces": [
  "application/json",
  "application/xml"
 ],
 "paths": {
  "/search/affiliation": {
   "get": {
    "tags": [
     "Affiliation_Search"
    ],
    "description": "<strong>Affiliation search exposes interfaces associated with Scopus-based affiliation profiles.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AffiliationSearch",
    "parameters": [
     {
      "default": "affil(Broad Institute)",
      "description": "Affiliation search query string",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/affiliation"
      }
     }
    },
    "summary": "Affiliation Search API"
   }
  },
  "/search/author": {
   "get": {
    "tags": [
     "Author_Search"
    ],
    "description": "<strong>Author search exposes interfaces associated with Scopus-based author profiles.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AuthorSearch",
    "parameters": [
     {
      "default": "authlast(Einstein) and authfirst(Albert) and affil(Princeton)",
      "description": "Search query string",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/atom+xml",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/author"
      }
     }
    },
    "summary": "Author Search API"
   }
  },
  "/search/scopus": {
   "get": {
    "tags": [
     "Scopus_Search"
    ],
    "description": "<strong>Scopus search exposes interfaces associated with Scopus search API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ScopusSearch",
    "parameters": [
     {
      "default": "all(gene)",
      "description": "Scopus search query string",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/atom+xml",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/scopus"
      }
     }
    },
    "summary": "Scopus Search API"
   }
  },
  "/abstract/doi/{doi}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval via DOI exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/abstract/eid/{eid}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval via EID exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrievalEID",
    "parameters": [
     {
      "default": "2-s2.0-0037070197",
      "description": "eid value",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/abstract/pii/{pii}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval via PII exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/abstract/pubmed_id/{pubmed_id}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval via Medline/Pubmed ID exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/abstract/pui/{pui}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval vi PUI exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrieval",
    "parameters": [
     {
      "default": "34164449",
      "description": "pui value",
      "in": "path",
      "name": "pui",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/abstract/scopus_id/{scopus_id}": {
   "get": {
    "tags": [
     "Abstract_Retrieval"
    ],
    "description": "<strong>Abstract retrieval via Scopus ID exposes interfaces associated with Scopus Abstract API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Abstract Retrieval API"
   }
  },
  "/affiliation/affiliation_id/{affiliation_id}": {
   "get": {
    "tags": [
     "Affiliation_Retrieval"
    ],
    "description": "<strong>Affiliation retrieval via affiliation_id exposes interfaces associated with Scopus Affiliation Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AffiliationRetrieval",
    "parameters": [
     {
      "default": "60016849",
      "description": "affiliation_id value",
      "in": "path",
      "name": "affiliation_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "default": "text/xml",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Affiliation Retrieval API"
   }
  },
  "/affiliation/eid/{eid}": {
   "get": {
    "tags": [
     "Affiliation_Retrieval"
    ],
    "description": "<strong>Affiliation retrieval via EID exposes interfaces associated with Scopus Affiliation Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AffiliationRetrieval",
    "parameters": [
     {
      "default": "10-s2.0-60016849",
      "description": "eid value",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "default": "text/xml",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Affiliation Retrieval API"
   }
  },
  "/author/eid/{eid}": {
   "get": {
    "tags": [
     "Author_Retrieval"
    ],
    "description": "<strong>Author retrieval via profile EID exposes interfaces associated with Scopus Author profile.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AuthorRetrieval",
    "parameters": [
     {
      "default": "9-s2.0-22988279600",
      "description": "eid value",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "default": "text/xml",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Author Retrieval API"
   }
  },
  "/author/author_id/{author_id}": {
   "get": {
    "tags": [
     "Author_Retrieval"
    ],
    "description": "<strong>Author retrieval exposes interfaces associated with Scopus Author profile.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AuthorRetrievalid",
    "parameters": [
     {
      "default": "22988279600",
      "description": "author_id value",
      "in": "path",
      "name": "author_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/xml",
     "application/json",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Author Retrieval API"
   }
  },
  "/abstract/citation-count": {
   "get": {
    "tags": [
     "Abstract_Citation_Count"
    ],
    "description": "<strong>Abstract Citation Count API retrieves Cited by in Scopus image given one of the article identifiers (DOI, PII, pubmed_ID) passed in as query parameter. Optionally, an arbitrary combination of applicable ISSN, ISBN, volume, issue, title, page parameters can be provided to identify the article.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "AbstractCitationCount",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "DOI document identifier. Example: 10.1016/S0014-5793(01)03313-0",
      "in": "query",
      "name": "doi",
      "required": false,
      "type": "string"
     },
     {
      "description": "PII document identifier. Example: S0014579301033130",
      "in": "query",
      "name": "pii",
      "required": false,
      "type": "string"
     },
     {
      "description": "MEDLINE/pubmed_id document identifier. Example: 11852050",
      "in": "query",
      "name": "pubmed_id",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "image/jpeg"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Cited by in Scopus image"
   }
  },
  "/abstract/citations": {
   "get": {
    "tags": [
     "Citations_Overview"
    ],
    "description": "<strong>Abstract Citation API allows to retrieve citations given one of the document identifiers (DOI, PII, scopus_id or pubmed_id).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "CitationsOverview",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "DOI document identifier. Example: 10.1016/S0014-5793(01)03313-0",
      "in": "query",
      "name": "doi",
      "required": false,
      "type": "string"
     },
     {
      "description": "PII document identifier. Example: S0014579301033130",
      "in": "query",
      "name": "pii",
      "required": false,
      "type": "string"
     },
     {
      "description": "Scopus ID document identifier. Example: 0037070197",
      "in": "query",
      "name": "scopus_id",
      "required": false,
      "type": "string"
     },
     {
      "description": "MEDLINE/pubmed_id document identifier. Example: 11852050",
      "in": "query",
      "name": "pubmed_id",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Citations Overview"
   }
  },
  "/serial/title": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Serial Metadata API represents a search against the serial titles (Science Direct content).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleSearch",
    "parameters": [
     {
      "description": "Partial or complete serial title. Example: gene",
      "in": "query",
      "name": "title",
      "required": false,
      "type": "string"
     },
     {
      "default": "03781119",
      "description": "One or more source identifiers. Example: 03781119,07350651",
      "in": "query",
      "name": "issn",
      "required": false,
      "type": "string"
     },
     {
      "description": "ScienceDirect subject area abbreviation associated with the content category. Example: MATH",
      "in": "query",
      "name": "subj",
      "required": false,
      "type": "string"
     },
     {
      "description": "one or more subject area code associated with the content category. Example: 2600,2601",
      "in": "query",
      "name": "subjCode",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies the amount of data to be returned in the response. Example: citescore",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies a year or range of years for which to return yearly metric data. Example: 2014-2016",
      "in": "query",
      "name": "date",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Search"
   }
  },
  "/serial/title/issn/{issn}": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Single serial title (Science Direct content) identified by ISSN. Returns either the metadata for that title or the cover image.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleMetadata",
    "parameters": [
     {
      "default": "03781119",
      "description": "ISSN source identifier. Example: 03781119",
      "in": "path",
      "name": "issn",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value. To retrieve cover image use image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Metadata"
   }
  }
 },
 "definitions": {
  "sciencedirect": {
   "required": [
    "name"
   ],
   "properties": {
    "name": {
     "type": "string"
    },
    "tag": {
     "type": "string"
    }
   }
  },
  "scopus": {
   "required": [
    "name"
   ],
   "properties": {
    "name": {
     "type": "string"
    },
    "tag": {
     "type": "string"
    }
   }
  },
  "affiliation": {
   "required": [
    "name"
   ],
   "properties": {
    "name": {
     "type": "string"
    },
    "tag": {
     "type": "string"
    }
   }
  },
  "author": {
   "required": [
    "name"
   ],
   "properties": {
    "name": {
     "type": "string"
    },
    "tag": {
     "type": "string"
    }
   }
  }
 },
 "x-apievangelist-provenance": {
  "method": "searched",
  "source": "https://dev.elsevier.com/elsdoc/scopus",
  "note": "Verbatim copy is openapi/_original/elsdoc/elsevier-scopus-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier's external path $refs (./listings/<Name>#/<op>) were inlined from the provider's own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.",
  "retrieved": "2026-09-06"
 }
}