{
 "swagger": "2.0",
 "info": {
  "title": "Elsevier SciVal APIs",
  "version": "3.0.1"
 },
 "host": "api.elsevier.com",
 "basePath": "/analytics/scival",
 "schemes": [
  "https"
 ],
 "paths": {
  "/author/institutionId/{institutionId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "SciVal institution id of requested authors",
      "format": "int64",
      "in": "path",
      "name": "institutionId",
      "required": true,
      "type": "integer",
      "x-example": 508175
     },
     {
      "default": "5yrs",
      "description": "Year range of returned authors",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of authors to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of authors to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/AuthorsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Author Lookup API"
    ],
    "description": "a maximum of 500 authors are available per institution, sorted by the author's scholarly output in descending order",
    "operationId": "getAuthorsByInstitutionId",
    "summary": "Get authors by SciVal institution id"
   }
  },
  "/author/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CitingPatentCount",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "HIndices",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles",
       "ViewsPerPublication"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Author ids to return metrics for",
      "in": "query",
      "name": "authors",
      "required": true,
      "type": "string",
      "x-example": "6701858763,20433296900"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "hIndex",
      "description": "Desired citation impact type (not applicable to all metrics)",
      "enum": [
       "hIndex",
       "h5Index",
       "gIndex",
       "mIndex"
      ],
      "in": "query",
      "name": "indexType",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Author Lookup API"
    ],
    "operationId": "authorMetrics",
    "summary": "Get author metrics by id(s)"
   }
  },
  "/author/orcid/{orcid}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "ORCiD of requested author",
      "in": "path",
      "name": "orcid",
      "required": true,
      "type": "string",
      "x-example": "0000-0001-6031-4923"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/AuthorResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Author not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Author Lookup API"
    ],
    "operationId": "getAuthorByORCID",
    "summary": "Get an author by ORCiD"
   }
  },
  "/author/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested author",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 6701858763
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/AuthorResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Author not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Author Lookup API"
    ],
    "operationId": "getAuthor",
    "summary": "Get an author by id"
   }
  },
  "/country/code/{code}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Code of requested country",
      "in": "path",
      "name": "code",
      "required": true,
      "type": "string",
      "x-example": "AUS"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/CountryResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Country not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Lookup API V1"
    ],
    "operationId": "getCountryByCode",
    "summary": "Get a country by code"
   }
  },
  "/country/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CitingPatentCount",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "HIndices",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Country ids to return metrics for",
      "in": "query",
      "name": "countryIds",
      "required": true,
      "type": "string",
      "x-example": "36,42"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Lookup API V1"
    ],
    "operationId": "countryMetrics",
    "summary": "Get country metrics by id(s)"
   }
  },
  "/country/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name, region, and code. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(brazil)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/CountrySearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Lookup API V1"
    ],
    "description": "sorted alphabetically by name in ascending order",
    "operationId": "countrySearch",
    "summary": "Find countries by name, region, or region code"
   }
  },
  "/country/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested country",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 36
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/CountryResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Country not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Lookup API V1"
    ],
    "operationId": "getCountry",
    "summary": "Get a country by id"
   }
  },
  "/countryGroup/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CitingPatentCount",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "HIndices",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Country group ids to return metrics for",
      "in": "query",
      "name": "countryGroupIds",
      "required": true,
      "type": "string",
      "x-example": "2,3"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Group Lookup API V1"
    ],
    "operationId": "countryGroupMetricsV1",
    "summary": "Get country group metrics by id(s)"
   }
  },
  "/countryGroup/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name, category, country, countryId, and code. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(europe)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/CountryGroupSearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Group Lookup API V1"
    ],
    "description": "sorted alphabetically by name in ascending order",
    "operationId": "countryGroupSearchV1",
    "summary": "Find country groups by name, category, or child country"
   }
  },
  "/countryGroup/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested country group",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 3
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/CountryGroupResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Country group not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Country Group Lookup API V1"
    ],
    "operationId": "getCountryGroup",
    "summary": "Get an country group by id"
   }
  },
  "/institution": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionsResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "No institutions were found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "description": "sorted alphabetically by name in ascending order",
    "operationId": "getInstitutions",
    "summary": "Get all institutions"
   }
  },
  "/institution/count": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionCountResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "operationId": "institutionCount",
    "summary": "Get the number of institutions in SciVal"
   }
  },
  "/institution/countryGroupId/{countryGroupId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "SciVal country group id of requested institutions",
      "format": "int64",
      "in": "path",
      "name": "countryGroupId",
      "required": true,
      "type": "integer",
      "x-example": 3
     },
     {
      "default": "5yrs",
      "description": "Year range of returned institutions",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of institutions to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of institutions to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "description": "sorted by the institution's scholarly output in descending order",
    "operationId": "getInstitutionsByCountryGroupId",
    "summary": "Get institutions by SciVal country group id"
   }
  },
  "/institution/countryId/{countryId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "SciVal country id of requested institutions",
      "format": "int64",
      "in": "path",
      "name": "countryId",
      "required": true,
      "type": "integer",
      "x-example": 36
     },
     {
      "default": "5yrs",
      "description": "Year range of returned institutions",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of institutions to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of institutions to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "description": "sorted by the institution's scholarly output in descending order",
    "operationId": "getInstitutionsByCountryId",
    "summary": "Get institutions by SciVal country id"
   }
  },
  "/institution/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CitingPatentCount",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "HIndices",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string",
      "x-example": "ScholarlyOutput"
     },
     {
      "description": "Institution ids to return metrics for",
      "in": "query",
      "name": "institutionIds",
      "required": true,
      "type": "string",
      "x-example": "508175,508076"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "hIndex",
      "description": "Desired citation impact type (not applicable to all metrics)",
      "enum": [
       "hIndex",
       "h5Index",
       "gIndex",
       "mIndex"
      ],
      "in": "query",
      "name": "indexType",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "operationId": "institutionMetrics",
    "summary": "Get institution metrics by id(s)"
   }
  },
  "/institution/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name, country, and code. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(harvard university)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionSearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "description": "sorted alphabetically by name in ascending order",
    "operationId": "institutionSearch",
    "summary": "Find institutions by name, country, or country code"
   }
  },
  "/institution/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested institution",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 508175
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Institution not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Lookup API V1"
    ],
    "operationId": "getInstitution",
    "summary": "Get an institution by id"
   }
  },
  "/institutionGroup/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CitingPatentCount",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "HIndices",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Institution group ids to return metrics for",
      "in": "query",
      "name": "institutionGroupIds",
      "required": true,
      "type": "string",
      "x-example": "35,195"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Group Lookup API V1"
    ],
    "operationId": "institutionGroupMetrics",
    "summary": "Get institution group metrics by id(s)"
   }
  },
  "/institutionGroup/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name, category, institution, and institutionId. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(ohio)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionGroupSearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Group Lookup API V1"
    ],
    "description": "sorted alphabetically by name in ascending order",
    "operationId": "institutionGroupSearch",
    "summary": "Find institution groups by name, category, or child institution"
   }
  },
  "/institutionGroup/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested institution group",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 35
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/InstitutionGroupResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Institution group not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Institution Group Lookup API V1"
    ],
    "operationId": "getInstitutionGroup",
    "summary": "Get an institution group by id"
   }
  },
  "/publication/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "AuthorCount",
       "CitationCount",
       "CitedPublications",
       "CitingPatentCount",
       "Collaboration",
       "CollaborationImpact",
       "FieldWeightedCitationImpact",
       "FieldWeightedViewsImpact",
       "JournalImpact",
       "OutputsInTopCitationPercentiles",
       "PaperPercentile",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "ViewsCount"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Publication ids to return metrics for",
      "in": "query",
      "name": "publicationIds",
      "required": true,
      "type": "string",
      "x-example": "85047328215,85052976466"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Publication Lookup API V1"
    ],
    "operationId": "publicationMetrics",
    "summary": "Get Scopus publication metrics by id(s)"
   }
  },
  "/publication/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml"
    ],
    "parameters": [
     {
      "description": "Id of requested publication",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 85036568406
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/PublicationResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Publication not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Publication Lookup API V1"
    ],
    "operationId": "getDocument",
    "summary": "Get a Scopus publication by id"
   }
  },
  "/scopusSource/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AcademicCorporateCollaboration",
       "AcademicCorporateCollaborationImpact",
       "CitingPatentCount",
       "Collaboration",
       "CitationCount",
       "CitationsPerPublication",
       "CollaborationImpact",
       "CitedPublications",
       "FieldWeightedCitationImpact",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationsInTopJournalPercentiles",
       "OutputsInTopCitationPercentiles"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Scopus source ids to return metrics for",
      "in": "query",
      "name": "sourceIds",
      "required": true,
      "type": "string",
      "x-example": "28773,19434"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": true,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "CiteScore",
      "description": "Desired journal impact type (not applicable to all metrics)",
      "enum": [
       "CiteScore",
       "SNIP",
       "SJR"
      ],
      "in": "query",
      "name": "journalImpactType",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to show results as field-weighted (not applicable to all metrics)",
      "in": "query",
      "name": "showAsFieldWeighted",
      "type": "boolean"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Scopus Source Lookup API"
    ],
    "description": "sorted by name in ascending order",
    "operationId": "sourceMetrics",
    "summary": "Get Scopus source metrics by id(s)"
   }
  },
  "/scopusSource/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name and subjectArea. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(cancer)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/SourceSearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Scopus Source Lookup API"
    ],
    "description": "sorted by name in ascending order",
    "operationId": "sourceSearch",
    "summary": "Find Scopus sources by name or subject area"
   }
  },
  "/scopusSource/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Id of requested Scopus source",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 12685
     },
     {
      "description": "Publication ids to return metrics for",
      "in": "query",
      "name": "publicationIds",
      "required": true,
      "type": "string",
      "x-example": "85047328215,85052976466"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/SourceResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Scopus source not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Scopus Source Lookup API"
    ],
    "operationId": "getSource",
    "summary": "Get a Scopus source by id"
   }
  },
  "/subjectArea/classificationType/{classificationType}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "default": "ASJC",
      "description": "The subject classification type for which to return subject areas",
      "enum": [
       "ASJC",
       "FOR",
       "FOS",
       "KAKEN",
       "QS",
       "REF2014",
       "THE",
       "SDG",
       "POL",
       "NIRF"
      ],
      "in": "path",
      "name": "classificationType",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/SubjectAreasResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "No subject areas were found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Subject Area Lookup API"
    ],
    "operationId": "getSubjectAreasByClassification",
    "summary": "Get subject areas by classification type"
   }
  },
  "/subjectArea/search": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Search query string. Valid fields are name and classificatoin. Valid operators are OR and AND.",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string",
      "x-example": "name(biology) AND classification(ASJC)"
     },
     {
      "default": 100,
      "description": "The number of results to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of results to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/SubjectAreaSearchResponse"
      }
     },
     "400": {
      "description": "Query not specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Subject Area Lookup API"
    ],
    "operationId": "subjectAreaSearch",
    "summary": "Find subject areas by name or classification"
   }
  },
  "/subjectArea/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "default": 13,
      "description": "Id of requested subject area",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer"
     },
     {
      "default": "ASJC",
      "description": "The subject classification type for which to return subject areas",
      "enum": [
       "ASJC",
       "FOR",
       "FOS",
       "KAKEN",
       "QS",
       "REF2014",
       "THE",
       "SDG",
       "POL",
       "NIRF"
      ],
      "in": "query",
      "name": "classificationType",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/SubjectAreaResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "No subject areas were found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Subject Area Lookup API"
    ],
    "operationId": "getSubjectArea",
    "summary": "Get subject area by id"
   }
  },
  "/topic/countryId/{countryId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal country id of requested topics",
      "format": "int64",
      "in": "path",
      "name": "countryId",
      "required": true,
      "type": "integer",
      "x-example": 4
     },
     {
      "default": "5yrs",
      "description": "Year range of returned topics",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of topics to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of topics to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "description": "sorted by the country's scholarly output in descending order",
    "operationId": "getTopicsByCountryId",
    "summary": "Get topics by SciVal country id"
   }
  },
  "/topic/institutionId/{institutionId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal institution id of requested topics",
      "format": "int64",
      "in": "path",
      "name": "institutionId",
      "required": true,
      "type": "integer",
      "x-example": 508175
     },
     {
      "default": "5yrs",
      "description": "Year range of returned topics",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to return key contributing topics only",
      "in": "query",
      "name": "keyContribOnly",
      "type": "boolean"
     },
     {
      "default": 100,
      "description": "The number of topics to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of topics to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "description": "sorted by the institution's scholarly output in descending order",
    "operationId": "getTopicsByInstitutionId",
    "summary": "Get topics by SciVal institution id"
   }
  },
  "/topic/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AuthorCount",
       "CitationCount",
       "CitingPatentCount",
       "CorePapers",
       "FieldWeightedCitationImpact",
       "InstitutionCount",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "ProminencePercentile",
       "MostRecentlyPublishedPapers",
       "RelatedTopics",
       "ScholarlyOutput",
       "TopAuthors",
       "TopCitedPublications",
       "TopInstitutions",
       "TopJournals",
       "TopKeywords"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "default": "17340",
      "description": "Topic ids to return metrics for",
      "in": "query",
      "name": "topicIds",
      "required": true,
      "type": "string"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": false,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicMetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "operationId": "topicMetrics",
    "summary": "Get topic metrics by id(s)"
   }
  },
  "/topic/metrics/countryId/{countryId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal country id to filter on",
      "format": "int64",
      "in": "path",
      "name": "countryId",
      "required": true,
      "type": "integer"
     },
     {
      "description": "Topic id to return metrics for",
      "format": "int64",
      "in": "query",
      "name": "topicId",
      "required": true,
      "type": "integer",
      "x-example": 1026
     },
     {
      "description": "Types of the desired metrics",
      "enum": [
       "CitationCount",
       "ScholarlyOutput",
       "FieldWeightedCitationImpact",
       "PublicationShare",
       "PublicationShareGrowth"
      ],
      "in": "query",
      "name": "metricTypes",
      "type": "string"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicMetricResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Country not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "operationId": "countryTopicMetrics",
    "summary": "Get topic metrics by SciVal country id"
   }
  },
  "/topic/metrics/institutionId/{institutionId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal institution id to filter on",
      "format": "int64",
      "in": "path",
      "name": "institutionId",
      "required": true,
      "type": "integer"
     },
     {
      "description": "Topic id to return metrics for",
      "format": "int64",
      "in": "query",
      "name": "topicId",
      "required": true,
      "type": "integer",
      "x-example": 1026
     },
     {
      "description": "Types of the desired metrics",
      "enum": [
       "CitationCount",
       "ScholarlyOutput",
       "FieldWeightedCitationImpact",
       "PublicationShare",
       "PublicationShareGrowth"
      ],
      "in": "query",
      "name": "metricTypes",
      "type": "string"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicMetricResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Institution not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "operationId": "institutionTopicMetrics",
    "summary": "Get topic metrics by SciVal institution id"
   }
  },
  "/topic/scopusSourceId/{sourceId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Source id of requested topics",
      "format": "int64",
      "in": "path",
      "name": "sourceId",
      "required": true,
      "type": "integer",
      "x-example": 12685
     },
     {
      "default": "5yrs",
      "description": "Year range of returned topics",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": false,
      "description": "Whether to return key contributing topics only",
      "in": "query",
      "name": "keyContribOnly",
      "type": "boolean"
     },
     {
      "default": 100,
      "description": "The number of topics to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of topics to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicsResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "description": "sorted by the Scopus source's scholarly output in descending order",
    "operationId": "getTopicsBySourceId",
    "summary": "Get topics by Scopus source id"
   }
  },
  "/topic/{id}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Id of requested topic",
      "format": "int64",
      "in": "path",
      "name": "id",
      "required": true,
      "type": "integer",
      "x-example": 17340
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicResponse"
      }
     },
     "401": {
      "description": "Request not authorized"
     },
     "404": {
      "description": "Topic not found"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Lookup API"
    ],
    "operationId": "getTopic",
    "summary": "Get a topic by id"
   }
  },
  "/topicCluster/countryId/{countryId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal country id of requested topic clusters",
      "format": "int64",
      "in": "path",
      "name": "countryId",
      "required": true,
      "type": "integer",
      "x-example": 4
     },
     {
      "default": "5yrs",
      "description": "Year range of returned topic clusters",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of topic clusters to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of topic clusters to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicClustersResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Cluster Lookup API"
    ],
    "description": "sorted by the country's scholarly output in descending order",
    "operationId": "getTopicClustersByCountryId",
    "summary": "Get topic clusters by SciVal country id"
   }
  },
  "/topicCluster/institutionId/{institutionId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal institution id of requested topic clusters",
      "format": "int64",
      "in": "path",
      "name": "institutionId",
      "required": true,
      "type": "integer",
      "x-example": 508175
     },
     {
      "default": "5yrs",
      "description": "Year range of returned topic clusters",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": 100,
      "description": "The number of topic clusters to return",
      "format": "int32",
      "in": "query",
      "name": "limit",
      "type": "integer"
     },
     {
      "default": 0,
      "description": "For paginating results, this is how many pages of topic clusters to skip before returning results",
      "format": "int32",
      "in": "query",
      "name": "offset",
      "type": "integer"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/TopicClustersResponse"
      }
     },
     "400": {
      "description": "The offset for this request must be greater than zero"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Cluster Lookup API"
    ],
    "description": "sorted by the institution's scholarly output in descending order",
    "operationId": "getTopicClustersByInstitutionId",
    "summary": "Get topic clusters by SciVal institution id"
   }
  },
  "/topicCluster/metrics": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "Types of the desired metrics",
      "enum": [
       "AuthorCount",
       "CitationCount",
       "CitingPatentCount",
       "FieldWeightedCitationImpact",
       "InstitutionCount",
       "ScholarlyOutput",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "TopAuthors",
       "TopInstitutions",
       "TopJournals",
       "TopKeywords"
      ],
      "in": "query",
      "name": "metricTypes",
      "required": true,
      "type": "string"
     },
     {
      "description": "Topic cluster ids to return metrics for",
      "in": "query",
      "name": "topicClusterIds",
      "required": true,
      "type": "string",
      "x-example": 23
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "",
      "description": "The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).",
      "in": "query",
      "name": "subjectAreaFilterURI",
      "type": "string"
     },
     {
      "default": true,
      "description": "Whether to include self-cited documents (not applicable to all metrics)",
      "in": "query",
      "name": "includeSelfCitations",
      "type": "boolean"
     },
     {
      "default": false,
      "description": "Whether to return results broken down by year (not applicable to all metrics)",
      "in": "query",
      "name": "byYear",
      "type": "boolean"
     },
     {
      "default": "AllPublicationTypes",
      "description": "Publication types to include (not applicable to all metrics)",
      "enum": [
       "AllPublicationTypes",
       "ArticlesOnly",
       "ArticlesReviews",
       "ArticlesReviewsConferencePapers",
       "ArticlesReviewsConferencePapersBooksAndBookChapters",
       "ArticlesConferencePapers",
       "BooksAndBookChapters"
      ],
      "in": "query",
      "name": "includedDocs",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "schema": {
       "$ref": "#/definitions/MetricResponse"
      }
     },
     "400": {
      "description": "No entities specified"
     },
     "401": {
      "description": "Request not authorized"
     },
     "500": {
      "description": "Unknown error encountered"
     }
    },
    "tags": [
     "SciVal Topic Cluster Lookup API"
    ],
    "operationId": "topicClusterMetrics",
    "summary": "Get topic cluster metrics by id(s)"
   }
  },
  "/topicCluster/metrics/countryId/{countryId}": {
   "get": {
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "application/vnd.scival.v2+json",
     "application/vnd.scival.v2+xml"
    ],
    "parameters": [
     {
      "description": "SciVal country id to filter on",
      "format": "int64",
      "in": "path",
      "name": "countryId",
      "required": true,
      "type": "integer"
     },
     {
      "description": "Topic cluster id to return metrics for",
      "format": "int64",
      "in": "query",
      "name": "topicClusterId",
      "required": true,
      "type": "integer",
      "x-example": 23
     },
     {
      "description": "Types of the desired metrics",
      "enum": [
       "CitationCount",
       "ScholarlyOutput",
       "FieldWeightedCitationImpact",
       "PatentCitationCount",
       "PatentCitationsPerPublication",
       "PatentCitedPublicationCount",
       "PublicationShare",
       "PublicationShareGrowth"
      ],
      "in": "query",
      "name": "metricTypes",
      "type": "string"
     },
     {
      "default": "5yrs",
      "description": "Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)",
      "enum": [
       "3yrs",
       "3yrsAndCurrent",
       "3yrsAndCurrentAndFuture",
       "5yrs",
       "5yrsAndCurrent",
       "5yrsAndCurrentAndFuture",
       "10yrs"
      ],
      "in": "query",
      "name": "yearRange",
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Specification for authorization, institution authtoken",
      "in": "query",
      "name": "insttoken",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specification for active session, secured authtoken",
      "in": "query",
      "name": "access_token",
      "required": false,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
[...]
