openapi: 3.2.0
info:
  title: Elsevier Science Direct Search V2 API
  version: '2.0'
  description: 'Operations tagged ScienceDirect_Search_V2 across 2 of this provider''s published API definitions: elsevier-sciencedirect-swagger.json, elsevier-search-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: ScienceDirect_Search_V2
  description: ScienceDirect Search V2 API
paths:
  /search/sciencedirect:
    get:
      tags:
      - ScienceDirect_Search_V2
      description: 'ScienceDirect search exposes interfaces associated with ScienceDirect search API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ScienceDirectSearchV2
      parameters:
      - description: ScienceDirect search query string
        in: query
        name: query
        required: true
        schema:
          type: string
          default: gene
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
      summary: ScienceDirect Search V2 API
    put:
      tags:
      - ScienceDirect_Search_V2
      description: 'ScienceDirect search exposes interfaces associated with ScienceDirect search API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ScienceDirectSearchV2
      parameters:
      - description: Your API key
        in: header
        name: x-els-apikey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Submitted content type
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
          default: application/json
      - description: Requested content type
        in: header
        name: Accept
        required: false
        schema:
          type: string
      - name: x-els-insttoken
        in: header
        description: Specification for authorization
        required: false
        schema:
          type: string
      - name: x-els-authtoken
        in: header
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
      summary: ScienceDirect Search V2 API
      requestBody:
        content:
          application/json:
            schema: {}
        description: request body
        required: true
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
components:
  schemas:
    sciencedirect:
      required:
      - name
      properties:
        name:
          type: string
        tag:
          type: string
x-refined-from:
- elsevier-sciencedirect-swagger.json
- elsevier-search-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
