openapi: 3.2.0
info:
  title: Elsevier SciVal SciVal Institution Lookup API V1 API
  version: 3.0.1
servers:
- url: https://api.elsevier.com/analytics/scival
tags:
- name: SciVal Institution Lookup API V1
paths:
  /institution:
    get:
      parameters:
      - description: The number of results to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of results to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
        '401':
          description: Request not authorized
        '404':
          description: No institutions were found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      description: sorted alphabetically by name in ascending order
      operationId: getInstitutions
      summary: Get all institutions
  /institution/count:
    get:
      parameters:
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionCountResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionCountResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionCountResponse'
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      operationId: institutionCount
      summary: Get the number of institutions in SciVal
  /institution/countryGroupId/{countryGroupId}:
    get:
      parameters:
      - description: SciVal country group id of requested institutions
        in: path
        name: countryGroupId
        required: true
        x-example: 3
        schema:
          type: integer
          format: int64
      - description: Year range of returned institutions
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The number of institutions to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of institutions to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
        '400':
          description: The offset for this request must be greater than zero
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      description: sorted by the institution's scholarly output in descending order
      operationId: getInstitutionsByCountryGroupId
      summary: Get institutions by SciVal country group id
  /institution/countryId/{countryId}:
    get:
      parameters:
      - description: SciVal country id of requested institutions
        in: path
        name: countryId
        required: true
        x-example: 36
        schema:
          type: integer
          format: int64
      - description: Year range of returned institutions
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The number of institutions to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of institutions to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionsResponse'
        '400':
          description: The offset for this request must be greater than zero
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      description: sorted by the institution's scholarly output in descending order
      operationId: getInstitutionsByCountryId
      summary: Get institutions by SciVal country id
  /institution/metrics:
    get:
      parameters:
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        required: true
        x-example: ScholarlyOutput
        schema:
          type: string
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - Collaboration
          - CitationCount
          - CitationsPerPublication
          - CitingPatentCount
          - CollaborationImpact
          - CitedPublications
          - FieldWeightedCitationImpact
          - HIndices
          - ScholarlyOutput
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
      - description: Institution ids to return metrics for
        in: query
        name: institutionIds
        required: true
        x-example: 508175,508076
        schema:
          type: string
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).
        in: query
        name: subjectAreaFilterURI
        schema:
          type: string
          default: ''
      - description: Whether to include self-cited documents (not applicable to all metrics)
        in: query
        name: includeSelfCitations
        schema:
          type: boolean
          default: true
      - description: Whether to return results broken down by year (not applicable to all metrics)
        in: query
        name: byYear
        schema:
          type: boolean
          default: true
      - description: Publication types to include (not applicable to all metrics)
        in: query
        name: includedDocs
        schema:
          type: string
          enum:
          - AllPublicationTypes
          - ArticlesOnly
          - ArticlesReviews
          - ArticlesReviewsConferencePapers
          - ArticlesReviewsConferencePapersBooksAndBookChapters
          - ArticlesConferencePapers
          - BooksAndBookChapters
          default: AllPublicationTypes
      - description: Desired journal impact type (not applicable to all metrics)
        in: query
        name: journalImpactType
        schema:
          type: string
          enum:
          - CiteScore
          - SNIP
          - SJR
          default: CiteScore
      - description: Whether to show results as field-weighted (not applicable to all metrics)
        in: query
        name: showAsFieldWeighted
        schema:
          type: boolean
          default: false
      - description: Desired citation impact type (not applicable to all metrics)
        in: query
        name: indexType
        schema:
          type: string
          enum:
          - hIndex
          - h5Index
          - gIndex
          - mIndex
          default: hIndex
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: No entities specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      operationId: institutionMetrics
      summary: Get institution metrics by id(s)
  /institution/search:
    get:
      parameters:
      - description: Search query string. Valid fields are name, country, and code. Valid operators are OR and AND.
        in: query
        name: query
        required: true
        x-example: name(harvard university)
        schema:
          type: string
      - description: The number of results to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of results to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionSearchResponse'
        '400':
          description: Query not specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      description: sorted alphabetically by name in ascending order
      operationId: institutionSearch
      summary: Find institutions by name, country, or country code
  /institution/{id}:
    get:
      parameters:
      - description: Id of requested institution
        in: path
        name: id
        required: true
        x-example: 508175
        schema:
          type: integer
          format: int64
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionResponse'
        '401':
          description: Request not authorized
        '404':
          description: Institution not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Lookup API V1
      operationId: getInstitution
      summary: Get an institution by id
components:
  schemas:
    InstitutionResponse:
      properties:
        institution:
          $ref: '#/components/schemas/InstitutionResult'
        link:
          $ref: '#/components/schemas/ResponseLink'
      type: object
    MetricResults:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricBaseObject'
          type: array
      type: object
    MetricBaseObject:
      discriminator:
        propertyName: metricType
      properties:
        the discriminator field:
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - AuthorCount
          - AuthorshipBreakdown
          - CitationCount
          - CitationsPerPublication
          - CitedPublications
          - CitingPatentCount
          - Collaboration
          - CollaborationImpact
          - CorePapers
          - FieldWeightedCitationImpact
          - FieldWeightedViewsImpact
          - HIndices
          - InstitutionCount
          - JournalImpact
          - MostRecentlyPublishedPapers
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
          - PaperPercentile
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - ProminencePercentile
          - PublicationShare
          - PublicationShareGrowth
          - RelatedTopics
          - ScholarlyOutput
          - TopAuthors
          - TopCitedPublications
          - TopInstitutions
          - TopJournals
          - TopKeywords
          - TopTopics
          - ViewsCount
          - ViewsPerPublication
          type: string
        value:
          type: object
        valueByMonth:
          additionalProperties:
            type: object
          type: object
        valueByYear:
          additionalProperties:
            type: object
          type: object
        values:
          items:
            type: object
          type: array
      required:
      - the discriminator field
      type: object
    InstitutionSearchResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/InstitutionSearchResult'
          type: array
      type: object
    InstitutionCountResponse:
      properties:
        count:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
      type: object
    AffiliationResult:
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
      type: object
    ResponseLink:
      properties:
        '@href':
          type: string
        '@ref':
          type: string
        '@type':
          type: string
      type: object
    MetricBase:
      properties:
        lastUpdated:
          type: string
        metricEndYear:
          format: int32
          type: integer
        metricStartYear:
          format: int32
          type: integer
        sourceName:
          type: string
      type: object
    InstitutionResult:
      allOf:
      - $ref: '#/components/schemas/InstitutionSearchResult'
      - properties:
          affiliations:
            items:
              $ref: '#/components/schemas/AffiliationResult'
            type: array
          latitude:
            format: double
            type: number
          longitude:
            format: double
            type: number
          nameVariants:
            items:
              type: string
            type: array
          region:
            type: string
          sector:
            type: string
        type: object
      type: object
    InstitutionsResponse:
      properties:
        institutions:
          items:
            $ref: '#/components/schemas/InstitutionSearchResult'
          type: array
        link:
          $ref: '#/components/schemas/ResponseLink'
        totalCount:
          format: int32
          type: integer
      type: object
    MetricResponse:
      properties:
        dataSource:
          $ref: '#/components/schemas/MetricBase'
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/MetricResults'
          type: array
      type: object
    InstitutionSearchResult:
      properties:
        country:
          type: string
        countryCode:
          type: string
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        uri:
          type: string
      type: object
x-components: {}
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/scival
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-scival-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
