openapi: 3.2.0
info:
  title: Elsevier Article Retrieval API
  version: '2.0'
  description: 'Operations tagged Article_Retrieval across 2 of this provider''s published API definitions: elsevier-retrieval-swagger.json, elsevier-sciencedirect-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Article_Retrieval
  description: Article Retrieval API
paths:
  /article/doi/{doi}:
    get:
      tags:
      - Article_Retrieval
      description: 'Article retrieval via DOI exposes interfaces associated with Article Retrieval API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ArticleRetrieval
      parameters:
      - description: doi value
        in: path
        name: doi
        required: true
        schema:
          type: string
          default: 10.1016/j.ijcard.2017.02.078
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
          default: text/xml
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            text/plain:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/pdf:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Article Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /article/eid/{eid}:
    get:
      tags:
      - Article_Retrieval
      description: 'Article retrieval via EID exposes interfaces associated with Article Retrieval API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ArticleRetrieval
      parameters:
      - description: eid value
        in: path
        name: eid
        required: true
        schema:
          type: string
          default: 1-s2.0-S0167527317311075
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            text/plain:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/pdf:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Article Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /article/pii/{pii}:
    get:
      tags:
      - Article_Retrieval
      description: 'Article retrieval via PII exposes interfaces associated with Article Retrieval API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ArticleRetrieval
      parameters:
      - description: pii value
        in: path
        name: pii
        required: true
        schema:
          type: string
          default: S0167527317311075
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            text/plain:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/pdf:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Article Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /article/pubmed_id/{pubmed_id}:
    get:
      tags:
      - Article_Retrieval
      description: 'Article retrieval via Medline/Pubmed ID exposes interfaces associated with Article Retrieval API.

        API key in this example was setup with authorized CORS domains.'
      operationId: ArticleRetrieval
      parameters:
      - description: pubmed_id value
        in: path
        name: pubmed_id
        required: true
        schema:
          type: string
          default: '28274577'
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/xml:
              schema:
                items: {}
                type: array
            text/plain:
              schema:
                items: {}
                type: array
            application/xml:
              schema:
                items: {}
                type: array
            application/json:
              schema:
                items: {}
                type: array
            application/pdf:
              schema:
                items: {}
                type: array
            application/rdf+xml:
              schema:
                items: {}
                type: array
      summary: Article Retrieval API
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-retrieval-swagger.json
- elsevier-sciencedirect-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
