openapi: 3.2.0
info:
  title: Elsevier SciVal SciVal Scopus Source Lookup API
  version: 3.0.1
servers:
- url: https://api.elsevier.com/analytics/scival
tags:
- name: SciVal Scopus Source Lookup API
paths:
  /scopusSource/metrics:
    get:
      parameters:
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        required: true
        schema:
          type: string
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - CitingPatentCount
          - Collaboration
          - CitationCount
          - CitationsPerPublication
          - CollaborationImpact
          - CitedPublications
          - FieldWeightedCitationImpact
          - ScholarlyOutput
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
      - description: Scopus source ids to return metrics for
        in: query
        name: sourceIds
        required: true
        x-example: 28773,19434
        schema:
          type: string
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: Whether to include self-cited documents (not applicable to all metrics)
        in: query
        name: includeSelfCitations
        schema:
          type: boolean
          default: true
      - description: Whether to return results broken down by year (not applicable to all metrics)
        in: query
        name: byYear
        schema:
          type: boolean
          default: true
      - description: Publication types to include (not applicable to all metrics)
        in: query
        name: includedDocs
        schema:
          type: string
          enum:
          - AllPublicationTypes
          - ArticlesOnly
          - ArticlesReviews
          - ArticlesReviewsConferencePapers
          - ArticlesReviewsConferencePapersBooksAndBookChapters
          - ArticlesConferencePapers
          - BooksAndBookChapters
          default: AllPublicationTypes
      - description: Desired journal impact type (not applicable to all metrics)
        in: query
        name: journalImpactType
        schema:
          type: string
          enum:
          - CiteScore
          - SNIP
          - SJR
          default: CiteScore
      - description: Whether to show results as field-weighted (not applicable to all metrics)
        in: query
        name: showAsFieldWeighted
        schema:
          type: boolean
          default: false
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: No entities specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Scopus Source Lookup API
      description: sorted by name in ascending order
      operationId: sourceMetrics
      summary: Get Scopus source metrics by id(s)
  /scopusSource/search:
    get:
      parameters:
      - description: Search query string. Valid fields are name and subjectArea. Valid operators are OR and AND.
        in: query
        name: query
        required: true
        x-example: name(cancer)
        schema:
          type: string
      - description: The number of results to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of results to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceSearchResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/SourceSearchResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/SourceSearchResponse'
        '400':
          description: Query not specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Scopus Source Lookup API
      description: sorted by name in ascending order
      operationId: sourceSearch
      summary: Find Scopus sources by name or subject area
  /scopusSource/{id}:
    get:
      parameters:
      - description: Id of requested Scopus source
        in: path
        name: id
        required: true
        x-example: 12685
        schema:
          type: integer
          format: int64
      - description: Publication ids to return metrics for
        in: query
        name: publicationIds
        required: true
        x-example: 85047328215,85052976466
        schema:
          type: string
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/SourceResponse'
        '401':
          description: Request not authorized
        '404':
          description: Scopus source not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Scopus Source Lookup API
      operationId: getSource
      summary: Get a Scopus source by id
components:
  schemas:
    MetricResults:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricBaseObject'
          type: array
      type: object
    MetricBaseObject:
      discriminator:
        propertyName: metricType
      properties:
        the discriminator field:
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - AuthorCount
          - AuthorshipBreakdown
          - CitationCount
          - CitationsPerPublication
          - CitedPublications
          - CitingPatentCount
          - Collaboration
          - CollaborationImpact
          - CorePapers
          - FieldWeightedCitationImpact
          - FieldWeightedViewsImpact
          - HIndices
          - InstitutionCount
          - JournalImpact
          - MostRecentlyPublishedPapers
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
          - PaperPercentile
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - ProminencePercentile
          - PublicationShare
          - PublicationShareGrowth
          - RelatedTopics
          - ScholarlyOutput
          - TopAuthors
          - TopCitedPublications
          - TopInstitutions
          - TopJournals
          - TopKeywords
          - TopTopics
          - ViewsCount
          - ViewsPerPublication
          type: string
        value:
          type: object
        valueByMonth:
          additionalProperties:
            type: object
          type: object
        valueByYear:
          additionalProperties:
            type: object
          type: object
        values:
          items:
            type: object
          type: array
      required:
      - the discriminator field
      type: object
    SourceSearchResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/SourceSearchResult'
          type: array
      type: object
    ResponseLink:
      properties:
        '@href':
          type: string
        '@ref':
          type: string
        '@type':
          type: string
      type: object
    JournalCategorySearchDoc:
      properties:
        asjcCode:
          items:
            type: string
          type: array
        citeScore:
          type: string
        disciplines:
          items:
            type: string
          type: array
        id:
          format: int64
          type: integer
        ipp:
          type: string
        isEntity:
          type: boolean
        journalTitle:
          type: string
        mainAsjcCode:
          items:
            type: string
          type: array
        mainSubjects:
          items:
            type: string
          type: array
        sjr:
          type: string
        snip:
          type: string
        type:
          type: string
      type: object
    MetricBase:
      properties:
        lastUpdated:
          type: string
        metricEndYear:
          format: int32
          type: integer
        metricStartYear:
          format: int32
          type: integer
        sourceName:
          type: string
      type: object
    SourceSearchResult:
      properties:
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        subjectAreas:
          $ref: '#/components/schemas/JournalCategorySearchDoc'
        uri:
          type: string
      type: object
    MetricResponse:
      properties:
        dataSource:
          $ref: '#/components/schemas/MetricBase'
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/MetricResults'
          type: array
      type: object
    SourceResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        source:
          $ref: '#/components/schemas/SourceSearchResult'
      type: object
x-components: {}
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/scival
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-scival-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
