openapi: 3.2.0
info:
  version: '2.0'
  title: Elsevier ScienceDirect Article Metadata API
  description: Article Metadata API
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Article_Metadata
  description: Article Metadata API
paths:
  /metadata/article:
    get:
      tags:
      - Article_Metadata
      description: 'Article Metadata exposes interfaces associated with searching full-text articles.

        API key in this example was setup with authorized CORS domains.'
      operationId: ArticleMetadata
      parameters:
      - description: search query string
        in: query
        name: query
        required: true
        schema:
          type: string
          default: gene
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
            application/xml:
              schema:
                $ref: '#/components/schemas/sciencedirect'
      summary: Article Metadata API
components:
  schemas:
    sciencedirect:
      required:
      - name
      properties:
        name:
          type: string
        tag:
          type: string
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/sciencedirect
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-sciencedirect-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
