openapi: 3.2.0
info:
  title: Elsevier SciVal SciVal Topic Cluster Lookup API
  version: 3.0.1
servers:
- url: https://api.elsevier.com/analytics/scival
tags:
- name: SciVal Topic Cluster Lookup API
paths:
  /topicCluster/countryId/{countryId}:
    get:
      parameters:
      - description: SciVal country id of requested topic clusters
        in: path
        name: countryId
        required: true
        x-example: 4
        schema:
          type: integer
          format: int64
      - description: Year range of returned topic clusters
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The number of topic clusters to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of topic clusters to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
        '400':
          description: The offset for this request must be greater than zero
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      description: sorted by the country's scholarly output in descending order
      operationId: getTopicClustersByCountryId
      summary: Get topic clusters by SciVal country id
  /topicCluster/institutionId/{institutionId}:
    get:
      parameters:
      - description: SciVal institution id of requested topic clusters
        in: path
        name: institutionId
        required: true
        x-example: 508175
        schema:
          type: integer
          format: int64
      - description: Year range of returned topic clusters
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The number of topic clusters to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of topic clusters to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
        '400':
          description: The offset for this request must be greater than zero
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      description: sorted by the institution's scholarly output in descending order
      operationId: getTopicClustersByInstitutionId
      summary: Get topic clusters by SciVal institution id
  /topicCluster/metrics:
    get:
      parameters:
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        required: true
        schema:
          type: string
          enum:
          - AuthorCount
          - CitationCount
          - CitingPatentCount
          - FieldWeightedCitationImpact
          - InstitutionCount
          - ScholarlyOutput
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - TopAuthors
          - TopInstitutions
          - TopJournals
          - TopKeywords
      - description: Topic cluster ids to return metrics for
        in: query
        name: topicClusterIds
        required: true
        x-example: 23
        schema:
          type: string
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).
        in: query
        name: subjectAreaFilterURI
        schema:
          type: string
          default: ''
      - description: Whether to include self-cited documents (not applicable to all metrics)
        in: query
        name: includeSelfCitations
        schema:
          type: boolean
          default: true
      - description: Whether to return results broken down by year (not applicable to all metrics)
        in: query
        name: byYear
        schema:
          type: boolean
          default: false
      - description: Publication types to include (not applicable to all metrics)
        in: query
        name: includedDocs
        schema:
          type: string
          enum:
          - AllPublicationTypes
          - ArticlesOnly
          - ArticlesReviews
          - ArticlesReviewsConferencePapers
          - ArticlesReviewsConferencePapersBooksAndBookChapters
          - ArticlesConferencePapers
          - BooksAndBookChapters
          default: AllPublicationTypes
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: No entities specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      operationId: topicClusterMetrics
      summary: Get topic cluster metrics by id(s)
  /topicCluster/metrics/countryId/{countryId}:
    get:
      parameters:
      - description: SciVal country id to filter on
        in: path
        name: countryId
        required: true
        schema:
          type: integer
          format: int64
      - description: Topic cluster id to return metrics for
        in: query
        name: topicClusterId
        required: true
        x-example: 23
        schema:
          type: integer
          format: int64
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        schema:
          type: string
          enum:
          - CitationCount
          - ScholarlyOutput
          - FieldWeightedCitationImpact
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - PublicationShare
          - PublicationShareGrowth
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '401':
          description: Request not authorized
        '404':
          description: Country not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      operationId: countryTopicClusterMetrics
      summary: Get topic cluster metrics by SciVal country id
  /topicCluster/metrics/institutionId/{institutionId}:
    get:
      parameters:
      - description: SciVal institution id to filter on
        in: path
        name: institutionId
        required: true
        schema:
          type: integer
          format: int64
      - description: Topic cluster id to return metrics for
        in: query
        name: topicClusterId
        required: true
        x-example: 23
        schema:
          type: integer
          format: int64
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        schema:
          type: string
          enum:
          - CitationCount
          - ScholarlyOutput
          - FieldWeightedCitationImpact
          - PublicationShare
          - PublicationShareGrowth
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '401':
          description: Request not authorized
        '404':
          description: Institution not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      operationId: institutionTopicClusterMetrics
      summary: Get topic cluster metrics by SciVal institution id
  /topicCluster/scopusSourceId/{sourceId}:
    get:
      parameters:
      - description: Scopus source id of requested topic clusters
        in: path
        name: sourceId
        required: true
        x-example: 12685
        schema:
          type: integer
          format: int64
      - description: Year range of returned topic clusters
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The number of topic clusters to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of topic clusters to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/TopicClustersResponse'
        '400':
          description: The offset for this request must be greater than zero
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      description: sorted by the source's scholarly output in descending order
      operationId: getTopicClustersBySourceId
      summary: Get topic clusters by Scopus source id
  /topicCluster/{id}:
    get:
      parameters:
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      - description: Id of requested topic cluster
        in: path
        name: id
        required: true
        x-example: 23
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicClusterResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopicClusterResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopicClusterResponse'
            application/vnd.scival.v2+json:
              schema:
                $ref: '#/components/schemas/TopicClusterResponse'
            application/vnd.scival.v2+xml:
              schema:
                $ref: '#/components/schemas/TopicClusterResponse'
        '401':
          description: Request not authorized
        '404':
          description: Topic cluster not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Topic Cluster Lookup API
      operationId: getTopicCluster
      summary: Get a topic cluster by id
components:
  schemas:
    TopicClusterResult:
      properties:
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        prominencePercentile:
          format: float
          type: number
        scholarlyOutput:
          format: int32
          type: integer
        topicCount:
          format: int32
          type: integer
        topics:
          items:
            $ref: '#/components/schemas/TopicSearchResult'
          type: array
        uri:
          type: string
      type: object
    TopicSearchResult:
      properties:
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        prominencePercentile:
          format: float
          type: number
        scholarlyOutput:
          format: int32
          type: integer
        uri:
          type: string
      type: object
    TopicClustersResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        topicClusters:
          items:
            $ref: '#/components/schemas/TopicClusterSearchResult'
          type: array
        totalCount:
          format: int32
          type: integer
      type: object
    MetricResults:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricBaseObject'
          type: array
      type: object
    MetricBaseObject:
      discriminator:
        propertyName: metricType
      properties:
        the discriminator field:
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - AuthorCount
          - AuthorshipBreakdown
          - CitationCount
          - CitationsPerPublication
          - CitedPublications
          - CitingPatentCount
          - Collaboration
          - CollaborationImpact
          - CorePapers
          - FieldWeightedCitationImpact
          - FieldWeightedViewsImpact
          - HIndices
          - InstitutionCount
          - JournalImpact
          - MostRecentlyPublishedPapers
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
          - PaperPercentile
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - ProminencePercentile
          - PublicationShare
          - PublicationShareGrowth
          - RelatedTopics
          - ScholarlyOutput
          - TopAuthors
          - TopCitedPublications
          - TopInstitutions
          - TopJournals
          - TopKeywords
          - TopTopics
          - ViewsCount
          - ViewsPerPublication
          type: string
        value:
          type: object
        valueByMonth:
          additionalProperties:
            type: object
          type: object
        valueByYear:
          additionalProperties:
            type: object
          type: object
        values:
          items:
            type: object
          type: array
      required:
      - the discriminator field
      type: object
    TopicClusterSearchResult:
      properties:
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        prominencePercentile:
          format: float
          type: number
        scholarlyOutput:
          format: int32
          type: integer
        topicCount:
          format: int32
          type: integer
        uri:
          type: string
      type: object
    ResponseLink:
      properties:
        '@href':
          type: string
        '@ref':
          type: string
        '@type':
          type: string
      type: object
    MetricBase:
      properties:
        lastUpdated:
          type: string
        metricEndYear:
          format: int32
          type: integer
        metricStartYear:
          format: int32
          type: integer
        sourceName:
          type: string
      type: object
    MetricResponse:
      properties:
        dataSource:
          $ref: '#/components/schemas/MetricBase'
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/MetricResults'
          type: array
      type: object
    TopicClusterResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        topicCluster:
          $ref: '#/components/schemas/TopicClusterResult'
      type: object
x-components: {}
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/scival
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-scival-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
