{
 "swagger": "2.0",
 "info": {
  "version": "2.0",
  "title": "Elsevier ScienceDirect APIs"
 },
 "tags": [
  {
   "name": "ScienceDirect_Search_V2",
   "description": "ScienceDirect Search V2 API"
  },
  {
   "name": "Abstract_Retrieval",
   "description": "Abstract Retrieval API"
  },
  {
   "name": "Affiliation_Retrieval",
   "description": "Affiliation Retrieval API"
  },
  {
   "name": "Article_Entitlement_Retrieval",
   "description": "Article Entitlement Retrieval API"
  },
  {
   "name": "Article_Metadata",
   "description": "Article Metadata API"
  },
  {
   "name": "Article_Retrieval",
   "description": "Article Retrieval API"
  },
  {
   "name": "Author_Retrieval",
   "description": "Author Retrieval API"
  },
  {
   "name": "Engineering_Village_Retrieval",
   "description": "Engineering Village Retrieval API"
  },
  {
   "name": "Object_Retrieval",
   "description": "Object Retrieval API"
  },
  {
   "name": "Nonserial_Title",
   "description": "Nonserial Title API"
  },
  {
   "name": "Serial_Title",
   "description": "Serial Title API"
  }
 ],
 "host": "api.elsevier.com",
 "basePath": "/content",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/article/entitlement/doi/{doi}": {
   "get": {
    "tags": [
     "Article_Entitlement_Retrieval"
    ],
    "description": "<strong>Article entitlement retrieval via DOI exposes interfaces associated with Article entitlement retrieval API. Multiple DOI values can be submitted by including them as a comma-delimited list.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleEntitlementRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value or comma-delimited list",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/json"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Article Entitlement Retrieval API"
   }
  },
  "/article/entitlement/eid/{eid}": {
   "get": {
    "tags": [
     "Article_Entitlement_Retrieval"
    ],
    "description": "<strong>Article entitlement retrieval via EID exposes interfaces associated with Article entitlement retrieval API. Multiple EID values can be submitted by including them as a comma-delimited list.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleEntitlementRetrieval",
    "parameters": [
     {
      "default": "2-s2.0-0037070197",
      "description": "eid value or comma-delimited list",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/json"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {}
     }
    },
    "summary": "Article Entitlement Retrieval API"
   }
  },
  "/article/entitlement/pii/{pii}": {
   "get": {
    "tags": [
     "Article_Entitlement_Retrieval"
    ],
    "description": "<strong>Article entitlement retrieval via PII exposes interfaces associated with Article entitlement retrieval API. Multiple PII values can be submitted by including them as a comma-delimited list.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleEntitlementRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value or comma-delimited list",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/json"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Entitlement Retrieval API"
   }
  },
  "/article/entitlement/pubmed_id/{pubmed_id}": {
   "get": {
    "tags": [
     "Article_Entitlement_Retrieval"
    ],
    "description": "<strong>Article entitlement retrieval via Medline/Pubmed ID exposes interfaces associated with Article entitlement retrieval API. Multiple Medline/Pubmed ID values can be submitted by including them as a comma-delimited list.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleEntitlementRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value or comma-delimited list",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/json"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Entitlement Retrieval API"
   }
  },
  "/article/entitlement/scopus_id/{scopus_id}": {
   "get": {
    "tags": [
     "Article_Entitlement_Retrieval"
    ],
    "description": "<strong>Article entitlement retrieval via Scopus ID exposes interfaces associated with Article entitlement retrieval API. Multiple Scopus ID values can be submitted by including them as a comma-delimited list.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleEntitlementRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value or comma-delimited list",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "application/json"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Entitlement Retrieval API"
   }
  },
  "/article/doi/{doi}": {
   "get": {
    "tags": [
     "Article_Retrieval"
    ],
    "description": "<strong>Article retrieval via DOI exposes interfaces associated with Article Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleRetrieval",
    "parameters": [
     {
      "default": "10.1016/j.ijcard.2017.02.078",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "default": "text/xml",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "text/plain",
     "application/xml",
     "application/json",
     "application/pdf",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Retrieval API"
   }
  },
  "/article/eid/{eid}": {
   "get": {
    "tags": [
     "Article_Retrieval"
    ],
    "description": "<strong>Article retrieval via EID exposes interfaces associated with Article Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleRetrieval",
    "parameters": [
     {
      "default": "1-s2.0-S0167527317311075",
      "description": "eid value",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "text/plain",
     "application/xml",
     "application/json",
     "application/pdf",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Retrieval API"
   }
  },
  "/article/pii/{pii}": {
   "get": {
    "tags": [
     "Article_Retrieval"
    ],
    "description": "<strong>Article retrieval via PII exposes interfaces associated with Article Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleRetrieval",
    "parameters": [
     {
      "default": "S0167527317311075",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "text/plain",
     "application/xml",
     "application/json",
     "application/pdf",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Retrieval API"
   }
  },
  "/article/pubmed_id/{pubmed_id}": {
   "get": {
    "tags": [
     "Article_Retrieval"
    ],
    "description": "<strong>Article retrieval via Medline/Pubmed ID exposes interfaces associated with Article Retrieval API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleRetrieval",
    "parameters": [
     {
      "default": "28274577",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "text/xml",
     "text/plain",
     "application/xml",
     "application/json",
     "application/pdf",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Article Retrieval API"
   }
  },
  "/metadata/article": {
   "get": {
    "tags": [
     "Article_Metadata"
    ],
    "description": "<strong>Article Metadata exposes interfaces associated with searching full-text articles.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ArticleMetadata",
    "parameters": [
     {
      "default": "gene",
      "description": "search query string",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/atom+xml",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/sciencedirect"
      }
     }
    },
    "summary": "Article Metadata API"
   }
  },
  "/object/doi/{doi}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve object references associated with a full text article by DOI.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/doi/{doi}/ref/{ref}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve individual object or object metadata associated with a full text article by DOI.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "description": "Request metadata about object by entering META in view field and removing httpAccept value.",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/doi/{doi}/ref/{ref}/high": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve high-resolution image associated with a full text article by DOI.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "10.1016/j.yjmcc.2014.08.010",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/doi/{doi}/ref/{ref}/standard": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve regular-sized image associated with a full text article by DOI.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/doi/{doi}/ref/{ref}/thumbnail": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve thumbnail image associated with a full text article by DOI.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "10.1016/S0014-5793(01)03313-0",
      "description": "doi value",
      "in": "path",
      "name": "doi",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/eid/{eid}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve object references associated with a full text article by EID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "1-s2.0-S0014579301033130",
      "description": "eid value",
      "in": "path",
      "name": "eid",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pii/{pii}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve object references associated with a full text article by PII.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pii/{pii}/ref/{ref}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve individual object or object metadata associated with a full text article by PII.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "description": "Request metadata about object by entering META in view field and removing httpAccept value.",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pii/{pii}/ref/{ref}/high": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve high-resolution image associated with a full text article by PII.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "S0022282814002570",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pii/{pii}/ref/{ref}/standard": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve regular-sized image associated with a full text article by PII.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pii/{pii}/ref/{ref}/thumbnail": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve thumbnail image associated with a full text article by PII.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "S0014579301033130",
      "description": "pii value",
      "in": "path",
      "name": "pii",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pubmed_id/{pubmed_id}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "Object retrieval API to retrieve object references associated with a full text article by Medline/Pubmed ID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pubmed_id/{pubmed_id}/ref/{ref}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "Object retrieval API to retrieve individual object or object metadata associated with a full text article by Medline/Pubmed ID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "description": "Request metadata about object by entering META in view field and removing httpAccept value.",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pubmed_id/{pubmed_id}/ref/{ref}/high": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "Object retrieval API to retrieve high-resolution image associated with a full text article by Medline/Pubmed ID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pubmed_id/{pubmed_id}/ref/{ref}/standard": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "Object retrieval API to retrieve regular-sized image associated with a full text article by Medline/Pubmed ID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/pubmed_id/{pubmed_id}/ref/{ref}/thumbnail": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "Object retrieval API to retrieve thumbnail image associated with a full text article by Medline/Pubmed ID.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "11852050",
      "description": "pubmed_id value",
      "in": "path",
      "name": "pubmed_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/scopus_id/{scopus_id}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve object references associated with a full text article by scopus_id.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/scopus_id/{scopus_id}/ref/{ref}": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve individual object or object metadata associated with a full text article by scopus_id.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "description": "Request metadata about object by entering META in view field and removing httpAccept value.",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/scopus_id/{scopus_id}/ref/{ref}/high": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve high-resolution image associated with a full text article by scopus_id.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "84907560456",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/scopus_id/{scopus_id}/ref/{ref}/standard": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve regular-sized image associated with a full text article by scopus_id.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "*/*",
      "description": "To retrieve object enter mime type here. Example: */*",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/object/scopus_id/{scopus_id}/ref/{ref}/thumbnail": {
   "get": {
    "tags": [
     "Object_Retrieval"
    ],
    "description": "<strong>Object retrieval API to retrieve thumbnail image associated with a full text article by scopus_id.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ObjectRetrieval",
    "parameters": [
     {
      "default": "0037070197",
      "description": "scopus_id value",
      "in": "path",
      "name": "scopus_id",
      "required": true,
      "type": "string"
     },
     {
      "default": "gr1",
      "description": "Specific Object Reference",
      "in": "path",
      "name": "ref",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "default": "image/gif",
      "description": "To retrieve object enter mime type here. Example: image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "text/xml",
     "application/rdf+xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "items": {},
       "type": "array"
      }
     }
    },
    "summary": "Object Retrieval API"
   }
  },
  "/search/sciencedirect": {
   "get": {
    "tags": [
     "ScienceDirect_Search_V2"
    ],
    "description": "<strong>ScienceDirect search exposes interfaces associated with ScienceDirect search API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ScienceDirectSearchV2",
    "parameters": [
     {
      "default": "gene",
      "description": "ScienceDirect search query string",
      "in": "query",
      "name": "query",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/atom+xml",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/sciencedirect"
      }
     }
    },
    "summary": "ScienceDirect Search V2 API"
   },
   "put": {
    "tags": [
     "ScienceDirect_Search_V2"
    ],
    "description": "<strong>ScienceDirect search exposes interfaces associated with ScienceDirect search API.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "ScienceDirectSearchV2",
    "parameters": [
     {
      "default": "{\r\n  \"qs\": \"protein\",\r\n  \"pub\": \"\\\"Cell\\\"\",\r\n  \"filters\": {\r\n      \"openAccess\": true\r\n  },\r\n  \"display\": {\r\n      \"offset\": 0,\r\n      \"show\": 25,\r\n      \"sortBy\": \"date\"\r\n  }\r\n}",
      "in": "body",
      "name": "body",
      "description": "request body",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "header",
      "name": "x-els-apikey",
      "required": true,
      "type": "string"
     },
     {
      "default": "application/json",
      "description": "Submitted content type",
      "in": "header",
      "name": "Content-Type",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type",
      "in": "header",
      "name": "Accept",
      "required": false,
      "type": "string"
     },
     {
      "name": "x-els-insttoken",
      "in": "header",
      "description": "Specification for authorization",
      "required": false,
      "type": "string"
     },
     {
      "name": "x-els-authtoken",
      "in": "header",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/atom+xml",
     "application/xml"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/sciencedirect"
      }
     }
    },
    "summary": "ScienceDirect Search V2 API"
   }
  },
  "/nonserial/title": {
   "get": {
    "tags": [
     "Nonserial_Title"
    ],
    "description": "<strong>Nonserial Metadata API represents a search against the nonserial titles (Science Direct content).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "NonserialTitleSearch",
    "parameters": [
     {
      "description": "Partial or complete nonserial title. Example: game",
      "in": "query",
      "name": "title",
      "required": false,
      "type": "string"
     },
     {
      "default": "978-1-898563-14-3",
      "description": "One or more source identifier. Example: 978-1-898563-14-3,978-0-12-370182-4",
      "in": "query",
      "name": "isbn",
      "required": false,
      "type": "string"
     },
     {
      "description": "ScienceDirect subject area abbreviation associated with the content category. Example: mathsgen",
      "in": "query",
      "name": "subj",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Nonserial Title Search"
   }
  },
  "/nonserial/title/isbn/{isbn}": {
   "get": {
    "tags": [
     "Nonserial_Title"
    ],
    "description": "<strong>Single nonserial title (Science Direct content) identified by ISBN. Returns either the metadata for that title or the cover image.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "NonserialTitleMetadata",
    "parameters": [
     {
      "default": "978-1-898563-14-3",
      "description": "ISBN source identifier. Example: 978-1-898563-14-3",
      "in": "path",
      "name": "isbn",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value. To retrieve cover image use image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Nonserial Title Metadata"
   }
  },
  "/serial/title": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Serial Metadata API represents a search against the serial titles (Science Direct content).</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleSearch",
    "parameters": [
     {
      "description": "Partial or complete serial title. Example: gene",
      "in": "query",
      "name": "title",
      "required": false,
      "type": "string"
     },
     {
      "default": "03781119",
      "description": "One or more source identifiers. Example: 03781119,07350651",
      "in": "query",
      "name": "issn",
      "required": false,
      "type": "string"
     },
     {
      "description": "ScienceDirect subject area abbreviation associated with the content category. Example: MATH",
      "in": "query",
      "name": "subj",
      "required": false,
      "type": "string"
     },
     {
      "description": "one or more subject area code associated with the content category. Example: 2600,2601",
      "in": "query",
      "name": "subjCode",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies the amount of data to be returned in the response. Example: citescore",
      "in": "query",
      "name": "view",
      "required": false,
      "type": "string"
     },
     {
      "description": "Specifies a year or range of years for which to return yearly metric data. Example: 2014-2016",
      "in": "query",
      "name": "date",
      "required": false,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Search"
   }
  },
  "/serial/title/issn/{issn}": {
   "get": {
    "tags": [
     "Serial_Title"
    ],
    "description": "<strong>Single serial title (Science Direct content) identified by ISSN. Returns either the metadata for that title or the cover image.</strong><br/> API key in this example was setup with authorized CORS domains.",
    "operationId": "SerialTitleMetadata",
    "parameters": [
     {
      "default": "03781119",
      "description": "ISSN source identifier. Example: 03781119",
      "in": "path",
      "name": "issn",
      "required": true,
      "type": "string"
     },
     {
      "default": "7f59af901d2d86f78a1fd60c1bf9426a",
      "description": "Your API key",
      "in": "query",
      "name": "apiKey",
      "required": true,
      "type": "string"
     },
     {
      "description": "Requested content type, overrides HTTP header value. To retrieve cover image use image/gif",
      "in": "query",
      "name": "httpAccept",
      "required": false,
      "type": "string"
     },
     {
      "name": "insttoken",
      "in": "query",
      "description": "Specification for authorization, institution authtoken",
      "required": false,
      "type": "string"
     },
     {
      "name": "access_token",
      "in": "query",
      "description": "Specification for active session, secured authtoken",
      "required": false,
      "type": "string"
     }
    ],
    "produces": [
     "application/json",
     "application/xml",
     "text/xml",
     "image/gif"
    ],
    "responses": {
     "200": {
      "description": "No response was specified",
      "schema": {
       "$ref": "#/definitions/stream"
      }
     }
    },
    "summary": "Serial Title Metadata"
   }
  }
 },
 "definitions": {
  "sciencedirect": {
   "required": [
    "name"
   ],
   "properties": {
    "name": {
     "type": "string"
    },
    "tag": {
     "type": "string"
    }
   }
  }
 },
 "x-apievangelist-provenance": {
  "method": "searched",
  "source": "https://dev.elsevier.com/elsdoc/sciencedirect",
  "note": "Verbatim copy is openapi/_original/elsdoc/elsevier-sciencedirect-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier's external path $refs (./listings/<Name>#/<op>) were inlined from the provider's own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.",
  "retrieved": "2026-09-06"
 }
}