openapi: 3.2.0
info:
  title: Elsevier SciVal SciVal Institution Group Lookup API V1 API
  version: 3.0.1
servers:
- url: https://api.elsevier.com/analytics/scival
tags:
- name: SciVal Institution Group Lookup API V1
paths:
  /institutionGroup/metrics:
    get:
      parameters:
      - description: Types of the desired metrics
        in: query
        name: metricTypes
        required: true
        schema:
          type: string
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - Collaboration
          - CitationCount
          - CitationsPerPublication
          - CitingPatentCount
          - CollaborationImpact
          - CitedPublications
          - FieldWeightedCitationImpact
          - HIndices
          - ScholarlyOutput
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
      - description: Institution group ids to return metrics for
        in: query
        name: institutionGroupIds
        required: true
        x-example: 35,195
        schema:
          type: string
      - description: Year range of returned metric (see response values for metricStartYear and metricEndYear for actual years)
        in: query
        name: yearRange
        schema:
          type: string
          enum:
          - 3yrs
          - 3yrsAndCurrent
          - 3yrsAndCurrentAndFuture
          - 5yrs
          - 5yrsAndCurrent
          - 5yrsAndCurrentAndFuture
          - 10yrs
          default: 5yrs
      - description: The URI(s) of the subject area(s) to filter the returned metrics by. Provide multiple URIs as a comma-separated list; results use OR logic (a publication matches if it belongs to any selected subject area).
        in: query
        name: subjectAreaFilterURI
        schema:
          type: string
          default: ''
      - description: Whether to include self-cited documents (not applicable to all metrics)
        in: query
        name: includeSelfCitations
        schema:
          type: boolean
          default: true
      - description: Whether to return results broken down by year (not applicable to all metrics)
        in: query
        name: byYear
        schema:
          type: boolean
          default: true
      - description: Publication types to include (not applicable to all metrics)
        in: query
        name: includedDocs
        schema:
          type: string
          enum:
          - AllPublicationTypes
          - ArticlesOnly
          - ArticlesReviews
          - ArticlesReviewsConferencePapers
          - ArticlesReviewsConferencePapersBooksAndBookChapters
          - ArticlesConferencePapers
          - BooksAndBookChapters
          default: AllPublicationTypes
      - description: Desired journal impact type (not applicable to all metrics)
        in: query
        name: journalImpactType
        schema:
          type: string
          enum:
          - CiteScore
          - SNIP
          - SJR
          default: CiteScore
      - description: Whether to show results as field-weighted (not applicable to all metrics)
        in: query
        name: showAsFieldWeighted
        schema:
          type: boolean
          default: false
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: No entities specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Group Lookup API V1
      operationId: institutionGroupMetrics
      summary: Get institution group metrics by id(s)
  /institutionGroup/search:
    get:
      parameters:
      - description: Search query string. Valid fields are name, category, institution, and institutionId. Valid operators are OR and AND.
        in: query
        name: query
        required: true
        x-example: name(ohio)
        schema:
          type: string
      - description: The number of results to return
        in: query
        name: limit
        schema:
          type: integer
          format: int32
          default: 100
      - description: For paginating results, this is how many pages of results to skip before returning results
        in: query
        name: offset
        schema:
          type: integer
          format: int32
          default: 0
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionGroupSearchResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionGroupSearchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionGroupSearchResponse'
        '400':
          description: Query not specified
        '401':
          description: Request not authorized
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Group Lookup API V1
      description: sorted alphabetically by name in ascending order
      operationId: institutionGroupSearch
      summary: Find institution groups by name, category, or child institution
  /institutionGroup/{id}:
    get:
      parameters:
      - description: Id of requested institution group
        in: path
        name: id
        required: true
        x-example: 35
        schema:
          type: integer
          format: int64
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Specification for authorization, institution authtoken
        in: query
        name: insttoken
        required: false
        schema:
          type: string
      - description: Specification for active session, secured authtoken
        in: query
        name: access_token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionGroupResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/InstitutionGroupResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/InstitutionGroupResponse'
        '401':
          description: Request not authorized
        '404':
          description: Institution group not found
        '500':
          description: Unknown error encountered
      tags:
      - SciVal Institution Group Lookup API V1
      operationId: getInstitutionGroup
      summary: Get an institution group by id
components:
  schemas:
    InstitutionGroupSearchResult:
      properties:
        categoryName:
          type: string
        id:
          format: int64
          type: integer
        institutionCount:
          format: int32
          type: integer
        institutions:
          items:
            $ref: '#/components/schemas/Institution'
          type: array
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        uri:
          type: string
      type: object
    InstitutionGroupSearchResponse:
      properties:
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/InstitutionGroupSearchResult'
          type: array
      type: object
    Institution:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/EntityTag'
          type: array
        acronym:
          type: string
        active:
          type: boolean
        additionalData:
          type: string
        affilCnt:
          format: int32
          type: integer
        base:
          type: string
        color:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        countryId:
          type: string
        countryName:
          type: string
        favorite:
          type: boolean
        id:
          format: int64
          type: integer
        latitude:
          format: double
          type: number
        longitude:
          format: double
          type: number
        name:
          type: string
        nameVariant1:
          type: string
        nameVariant2:
          type: string
        pubCount:
          format: int32
          type: integer
        regionName:
          type: string
        secondary:
          type: string
        sector:
          type: string
        sortName:
          type: string
        uri:
          type: string
      type: object
    Country:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/EntityTag'
          type: array
        active:
          type: boolean
        additionalData:
          type: string
        base:
          type: string
        code:
          type: string
        color:
          type: string
        favorite:
          type: boolean
        id:
          format: int64
          type: integer
        iso2Code:
          type: string
        latitude:
          format: float
          type: number
        longitude:
          format: float
          type: number
        name:
          type: string
        region:
          type: string
        regionName:
          type: string
        secondary:
          type: string
        sortName:
          type: string
        uri:
          type: string
      type: object
    MetricResults:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricBaseObject'
          type: array
      type: object
    MetricBaseObject:
      discriminator:
        propertyName: metricType
      properties:
        the discriminator field:
          enum:
          - AcademicCorporateCollaboration
          - AcademicCorporateCollaborationImpact
          - AuthorCount
          - AuthorshipBreakdown
          - CitationCount
          - CitationsPerPublication
          - CitedPublications
          - CitingPatentCount
          - Collaboration
          - CollaborationImpact
          - CorePapers
          - FieldWeightedCitationImpact
          - FieldWeightedViewsImpact
          - HIndices
          - InstitutionCount
          - JournalImpact
          - MostRecentlyPublishedPapers
          - PublicationsInTopJournalPercentiles
          - OutputsInTopCitationPercentiles
          - PaperPercentile
          - PatentCitationCount
          - PatentCitationsPerPublication
          - PatentCitedPublicationCount
          - ProminencePercentile
          - PublicationShare
          - PublicationShareGrowth
          - RelatedTopics
          - ScholarlyOutput
          - TopAuthors
          - TopCitedPublications
          - TopInstitutions
          - TopJournals
          - TopKeywords
          - TopTopics
          - ViewsCount
          - ViewsPerPublication
          type: string
        value:
          type: object
        valueByMonth:
          additionalProperties:
            type: object
          type: object
        valueByYear:
          additionalProperties:
            type: object
          type: object
        values:
          items:
            type: object
          type: array
      required:
      - the discriminator field
      type: object
    MetricResponse:
      properties:
        dataSource:
          $ref: '#/components/schemas/MetricBase'
        link:
          $ref: '#/components/schemas/ResponseLink'
        results:
          items:
            $ref: '#/components/schemas/MetricResults'
          type: array
      type: object
    AffiliationResult:
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
      type: object
    InstitutionGroupResponse:
      properties:
        institutionGroup:
          $ref: '#/components/schemas/InstitutionGroupResult'
        link:
          $ref: '#/components/schemas/ResponseLink'
      type: object
    ResponseLink:
      properties:
        '@href':
          type: string
        '@ref':
          type: string
        '@type':
          type: string
      type: object
    InstitutionGroupResult:
      allOf:
      - $ref: '#/components/schemas/InstitutionGroupSearchResult'
      - properties:
          institutions:
            items:
              $ref: '#/components/schemas/InstitutionResult'
            type: array
        type: object
      type: object
    InstitutionResult:
      allOf:
      - $ref: '#/components/schemas/InstitutionSearchResult'
      - properties:
          affiliations:
            items:
              $ref: '#/components/schemas/AffiliationResult'
            type: array
          latitude:
            format: double
            type: number
          longitude:
            format: double
            type: number
          nameVariants:
            items:
              type: string
            type: array
          region:
            type: string
          sector:
            type: string
        type: object
      type: object
    MetricBase:
      properties:
        lastUpdated:
          type: string
        metricEndYear:
          format: int32
          type: integer
        metricStartYear:
          format: int32
          type: integer
        sourceName:
          type: string
      type: object
    EntityTag:
      properties:
        disabled:
          type: boolean
        id:
          format: int64
          type: integer
        limitTo:
          type: boolean
        name:
          type: string
        occurrences:
          format: int32
          type: integer
        privateTag:
          type: boolean
        selected:
          type: boolean
        shared:
          type: boolean
        type:
          type: string
        uri:
          type: string
        uris:
          items:
            type: string
          type: array
        webUserId:
          format: int64
          type: integer
      type: object
    InstitutionSearchResult:
      properties:
        country:
          type: string
        countryCode:
          type: string
        id:
          format: int64
          type: integer
        link:
          $ref: '#/components/schemas/ResponseLink'
        name:
          type: string
        uri:
          type: string
      type: object
x-components: {}
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/scival
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-scival-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
