openapi: 3.2.0
info:
  title: Elsevier Abstract Citation Count API
  version: '2.0'
  description: 'Operations tagged Abstract_Citation_Count across 2 of this provider''s published API definitions: elsevier-metadata-swagger.json, elsevier-scopus-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Abstract_Citation_Count
  description: Abstract Citation count API
paths:
  /abstract/citation-count:
    get:
      tags:
      - Abstract_Citation_Count
      description: 'Abstract Citation Count API retrieves Cited by in Scopus image given one of the article identifiers (DOI, PII, pubmed_ID) passed in as query parameter. Optionally, an arbitrary combination of applicable ISSN, ISBN, volume, issue, title, page parameters can be provided to identify the article.

        API key in this example was setup with authorized CORS domains.'
      operationId: AbstractCitationCount
      parameters:
      - description: 'DOI document identifier. Example: 10.1016/S0014-5793(01)03313-0'
        in: query
        name: doi
        required: false
        schema:
          type: string
          default: 10.1016/S0014-5793(01)03313-0
      - description: 'PII document identifier. Example: S0014579301033130'
        in: query
        name: pii
        required: false
        schema:
          type: string
      - description: 'MEDLINE/pubmed_id document identifier. Example: 11852050'
        in: query
        name: pubmed_id
        required: false
        schema:
          type: string
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Cited by in Scopus image
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-metadata-swagger.json
- elsevier-scopus-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
