openapi: 3.2.0
info:
  title: Elsevier Serial Title API
  version: '2.0'
  description: 'Operations tagged Serial_Title across 3 of this provider''s published API definitions: elsevier-metadata-swagger.json, elsevier-sciencedirect-swagger.json, elsevier-scopus-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.elsevier.com/content
- url: http://api.elsevier.com/content
tags:
- name: Serial_Title
  description: Serial Title API
paths:
  /serial/title:
    get:
      tags:
      - Serial_Title
      description: 'Serial Metadata API represents a search against the serial titles (Science Direct content).

        API key in this example was setup with authorized CORS domains.'
      operationId: SerialTitleSearch
      parameters:
      - description: 'Partial or complete serial title. Example: gene'
        in: query
        name: title
        required: false
        schema:
          type: string
      - description: 'One or more source identifiers. Example: 03781119,07350651'
        in: query
        name: issn
        required: false
        schema:
          type: string
          default: 03781119
      - description: 'ScienceDirect subject area abbreviation associated with the content category. Example: MATH'
        in: query
        name: subj
        required: false
        schema:
          type: string
      - description: 'one or more subject area code associated with the content category. Example: 2600,2601'
        in: query
        name: subjCode
        required: false
        schema:
          type: string
      - description: 'Specifies the amount of data to be returned in the response. Example: citescore'
        in: query
        name: view
        required: false
        schema:
          type: string
      - description: 'Specifies a year or range of years for which to return yearly metric data. Example: 2014-2016'
        in: query
        name: date
        required: false
        schema:
          type: string
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/stream'
            text/xml:
              schema:
                $ref: '#/components/schemas/stream'
            image/gif:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Serial Title Search
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
  /serial/title/issn/{issn}:
    get:
      tags:
      - Serial_Title
      description: 'Single serial title (Science Direct content) identified by ISSN. Returns either the metadata for that title or the cover image.

        API key in this example was setup with authorized CORS domains.'
      operationId: SerialTitleMetadata
      parameters:
      - description: 'ISSN source identifier. Example: 03781119'
        in: path
        name: issn
        required: true
        schema:
          type: string
          default: 03781119
      - description: Your API key
        in: query
        name: apiKey
        required: true
        schema:
          type: string
          default: 7f59af901d2d86f78a1fd60c1bf9426a
      - description: Requested content type, overrides HTTP header value. To retrieve cover image use image/gif
        in: query
        name: httpAccept
        required: false
        schema:
          type: string
      - name: insttoken
        in: query
        description: Specification for authorization, institution authtoken
        required: false
        schema:
          type: string
      - name: access_token
        in: query
        description: Specification for active session, secured authtoken
        required: false
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stream'
            application/xml:
              schema:
                $ref: '#/components/schemas/stream'
            text/xml:
              schema:
                $ref: '#/components/schemas/stream'
            image/gif:
              schema:
                $ref: '#/components/schemas/stream'
      summary: Serial Title Metadata
    servers:
    - url: https://api.elsevier.com/content
    - url: http://api.elsevier.com/content
x-refined-from:
- elsevier-metadata-swagger.json
- elsevier-sciencedirect-swagger.json
- elsevier-scopus-swagger.json
x-apievangelist-provenance:
  method: searched
  source: https://dev.elsevier.com/elsdoc/engineeringvillage
  note: 'Verbatim copy is openapi/_original/elsdoc/elsevier-engineering-village-swagger.json. This copy differs from the source in exactly two mechanical ways: Elsevier''s external path $refs (./listings/<Name>#/<op>) were inlined from the provider''s own listing documents (also saved verbatim under openapi/_original/elsdoc/listings/), and info.title was filled in where the provider left it empty. No operation, parameter, response or schema content was authored by API Evangelist.'
  retrieved: '2026-09-06'
